/* ==========================================================================
   Colours
   ========================================================================== */

@colour-sg-black: #000;
@colour-sg-grey-dark: #111;
@colour-sg-grey: #333;
@colour-sg-grey-light: #717274;
@colour-sg-silver: #ccc;
@colour-sg-white-dark: #f0f0f0;
@colour-sg-white: #fff;
@colour-sg-blue-dark: #0b486b;
@colour-sg-blue: #196dff;