/* -------------------------------------------------------------------------- *\
   $COLOURS
\* -------------------------------------------------------------------------- */

@colour-sg-black: #000;
@colour-sg-grey-dark: #222;
@colour-sg-grey: #aaa;
@colour-sg-silver: #ddd;
@colour-sg-white-dark: #f6f6f6;
@colour-sg-white: #fff;
@colour-sg-maroon: #85144b;
@colour-sg-purple: #b10dC9;
@colour-sg-fuchsia: #f012be;
@colour-sg-red: #ff4136;
@colour-sg-orange: #ff851b;
@colour-sg-yellow: #ffdc00;
@colour-sg-olive: #3d9970;
@colour-sg-green: #88c425;
@colour-sg-lime: #01ff70;
@colour-sg-aqua: #7fdbff;
@colour-sg-teal: #39cccc;
@colour-sg-blue: #196dff;
@colour-sg-navy: #001f3f;