/* -------------------------------------------------------------------------- *\
   #ALERT
\* -------------------------------------------------------------------------- */

.alert {
    background-color: $color-white-dark;
    border-left-style: solid;
    border-left-width: 0.25em;
    margin-bottom: 2em;
    padding: 0.75em 1em 1em 1em;
    position: relative;

    /* Title */

    .alert__title {
        font-size: 1.25em; /* 20 / 16 */
        font-weight: $weight-bold;
        margin-bottom: 0.25em;
    }

    /* Message */

    .alert__message {
        margin-bottom: 0;
    }

    /* Dismiss */

    .alert__dismiss {
        background-color: transparent;
        border: 0;
        color: $color-gray;
        cursor: pointer;
        display: block;
        position: absolute;
        right: 0.25em;
        top: 0.25em;
        transition: color 0.25s;

        &:focus,
        &:hover {
            color: $color-black;
            outline: 0;
        }
    }

    /**
     * Success
     */

    &.alert--success {
        border-color: $color-green;

        .alert__title {
            color: $color-green;
        }

        .alert__message {

            a {
                @include anchor($border-bottom-color-hover: $color-green, $color-hover: $color-green);
            }
        }
    }

    /**
     * Information
     */

    &.alert--information {
        border-color: $color-blue;

        .alert__title {
            color: $color-blue;
        }

        .alert__message {

            a {
                @include anchor($border-bottom-color-hover: $color-blue, $color-hover: $color-blue);
            }
        }
    }

    /**
     * Warning
     */

    &.alert--warning {
        border-color: $color-orange;

        .alert__title {
            color: $color-orange;
        }

        .alert__message {

            a {
                @include anchor($border-bottom-color-hover: $color-orange, $color-hover: $color-orange);
            }
        }
    }

    /**
     * Error
     */

    &.alert--error {
        border-color: $color-red;

        .alert__title {
            color: $color-red;
        }

        .alert__message {

            a {
                @include anchor($border-bottom-color-hover: $color-red, $color-hover: $color-red);
            }
        }
    }
}
