/* -------------------------------------------------------------------------- *\
   #COLLAPSE
\* -------------------------------------------------------------------------- */

.collapse {
    display: none;

    /**
     * Open
     */

    &.is-open {
        clear: both;
        display: block;
    }
}
