/**
 * LAYOUT
 */

/* -------------------------------------------------------------------------- *\
   #TABLE OF CONTENTS
\* -------------------------------------------------------------------------- */

/**
 * WRAPPER
 * HEADER
 * MAIN
 * FOOTER
 */





/* -------------------------------------------------------------------------- *\
   #WRAPPER
\* -------------------------------------------------------------------------- */

.l-wrapper {
    @include clearfix();
    margin-right: auto;
    margin-left: auto;
    max-width: 71.25em; /* 1140 / 16 */
    position: relative;
    width: 90%;

    /**
     * Small
     */

    &.l-wrapper--small {
        max-width: 40em; /* 640 / 16 */
    }
}





/* -------------------------------------------------------------------------- *\
   #HEADER
\* -------------------------------------------------------------------------- */

.l-header {

}





/* -------------------------------------------------------------------------- *\
   #MAIN
\* -------------------------------------------------------------------------- */

.l-main {

}





/* -------------------------------------------------------------------------- *\
   #FOOTER
\* -------------------------------------------------------------------------- */

.l-footer {

}
