/* -------------------------------------------------------------------------- *\
   #MENU
\* -------------------------------------------------------------------------- */

.menu {
    background-color: $color-white-dark;
    margin-top: 1em;

    /* List */

    .menu__list {
        @include clearfix();
        @include list();

        /* Item */

        .menu__item {
            border-bottom: 0.125em solid $color-white;
            margin-bottom: 0;

            &:last-child {
                border-bottom: 0;
            }
        }

        /* Link */

        .menu__link {
            color: $color-gray-dark;
            display: block;
            font-weight: $weight-bold;
            padding: 0.75em 1em;
            text-decoration: none;
            transition: color 0.25s;

            &:focus,
            &:hover {
                color: $color-black;
            }
        }
    }
}
