/* -------------------------------------------------------------------------- *\
   #MODAL
\* -------------------------------------------------------------------------- */

.modal {
    z-index: $z-index-modal;
}

.modal.fade .modal-dialog {
    opacity: 0;
    transition: opacity 0.25s;
}

.modal.in .modal-dialog {
    opacity: 1;
}

.modal-backdrop {
    z-index: $z-index-modal-backdrop;
}

.modal-content {
    border: 0;
    border-radius: 0;
}

.modal-header {
    border-bottom: 0;
    padding: 1em;
    position: relative;

    .modal-close {
        background-color: transparent;
        border: 0;
        color: $color-silver;
        cursor: pointer;
        font-size: 1.25em; /* 20 / 16 */
        position: absolute;
        right: 0.5em;
        top: 0.6875em;
        transition: color 0.25s;

        &:focus,
        &:hover {
            color: $color-black;
            outline: 0;
        }
    }
}

.modal-body {
    padding: 1em;
}

.modal-footer {
    background-color: $color-white-dark;
    border-top: 0;
    padding: 1em;
}
