/* -------------------------------------------------------------------------- *\
   #MODAL
\* -------------------------------------------------------------------------- */

/**
 * Theme
 */

.modal {
    z-index: $z-index-modal;
}

.modal.fade .modal-dialog {
    opacity: 0;
    transition: opacity 0.25s;
}

.modal.in .modal-dialog {
    opacity: 1;
}

/**
 * Backdrop
 */

.modal-backdrop {
    z-index: $z-index-modal-backdrop;
}

/**
 * Content
 */

.modal-content {
    border-color: $color-black;
    border-radius: 0;
    border-width: 2px;
}

/**
 * Header
 */

.modal-header {
    border-bottom: 0;
    padding: 1em;
    position: relative;

    /**
     * Close
     */

    .modal-close {
        background-color: transparent;
        border: 0;
        color: $color-silver;
        font-size: 1.25em; /* 20 / 16 */
        position: absolute;
        right: 0.5em;
        top: 0.6875em;
        transition: color 0.25s;

        &:focus,
        &:hover {
            color: $color-black;
            outline: 0;
        }
    }
}

/**
 * Body
 */

.modal-body {
    padding: 1em;
}

/**
 * Footer
 */

.modal-footer {
    background-color: $color-white-dark;
    border-top: 0;
    padding: 1em;

    .btn-group {
        margin-bottom: 0;
    }
}
