/* -------------------------------------------------------------------------- *\
   #NAVIGATION
\* -------------------------------------------------------------------------- */

.nav {
    width: 100%;

    /**
     * List
     */

    .nav__list {
        @include clearfix();
        @include reset-list();
        margin-bottom: 0;
        white-space: nowrap;

        /**
         * Menu
         */

        &.nav__list--menu {
            background-color: $color-white-dark;
            display: none;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            margin-left: 0;

            &.is-open {
                display: block;
            }

            /**
             * Item
             */

            .nav__item {
                border-bottom: 2px solid $color-white;
                margin-bottom: 0;
                margin-left: 0;

                &:last-child {
                    border-bottom: 0;
                }
            }

            /**
             * Link
             */

            .nav__link {
                padding: 0.5em 1em;
                transition: background-color 0.25s, color 0.25s;

                &:focus,
                &:hover {
                    background-color: $color-gray-dark;
                    color: $color-white;
                }
            }
        }
    }

    /**
     * Item
     */

    .nav__item {
        position: relative;

        &.is-active {

            .nav__link {
                color: $color-black;
            }
        }
    }

    /**
     * Link
     */

    .nav__link {
        color: $color-gray-dark;
        display: block;
        font-weight: $weight-bold;
        text-decoration: none;
        transition: color 0.25s;

        &:focus,
        &:hover {
            color: $color-black;
        }

        /**
         * Icon
         */

        .icon {
            float: right;
        }
    }

    /**
     * Horizontal
     */

    &.nav--horizontal {

        .nav__item {
            margin-bottom: 1em;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    /**
     * Vertical
     */

    &.nav--vertical {

        .nav__item {
            border-bottom: 2px solid $color-white;
            margin-bottom: 0;

            &:last-child {
                border-bottom: 0;
            }
        }

        .nav__link {
            background-color: $color-white-dark;
            padding: 0.5em 1em;
            transition: background-color 0.25s, color 0.25s;

            &:focus,
            &:hover {
                background-color: $color-silver;
            }
        }
    }
}

@media all and (min-width: $bp-small) {

    .nav {

        .nav__list {

            .icon {
                float: none;
                margin-left: 0.375em;
            }
        }

        &.nav--horizontal {

            .nav__list {

                &.nav__list--menu {
                    left: 0;
                    margin-top: 0.5em;
                    position: absolute;
                    top: 100%;
                    z-index: $z-index-nav-dropdown;

                    .nav__item {
                        display: block;
                    }
                }
            }

            .nav__item {
                display: inline-block;
                margin-bottom: 0;
                margin-left: 1.5em;

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}
