/* -------------------------------------------------------------------------- *\
   #PAGINATION
\* -------------------------------------------------------------------------- */

.pagination {
    margin-bottom: 1em;
    width: 100%;

    /* List */

    .pagination__list {
        @include clearfix();
        @include list();

        /* Item */

        .pagination__item {
            display: none;
            float: left;
            margin-right: 0.125em;
            margin-bottom: 0;

            &:first-child {
                display: block;

                .icon {
                    margin-right: 0.5em;
                }
            }

            &:last-child {
                display: block;

                .icon {
                    margin-left: 0.5em;
                }
            }

            /**
             * Disabled
             */

            &.is-disabled {
                background-color: $color-white-dark;
                color: $color-silver;
                padding: 0.375em 0.875em;
            }

            /**
             * Selected
             */

            &.is-selected {

                a {
                    background-color: $color-gray;
                    color: $color-black;

                    &:focus,
                    &:hover {
                        background-color: $color-gray;
                    }
                }
            }

            /**
             * Spacer
             */

            &.is-spacer {
                padding: 0.375em 0.875em;
            }
        }
    }

    /* Link */

    .pagination__link {
        background-color: $color-white-dark;
        color: $color-gray-dark;
        display: block;
        font-weight: $weight-bold;
        padding: 0.375em 0.875em;
        text-decoration: none;
        transition: background-color 0.25s;

        &:focus,
        &:hover {
            background-color: $color-silver;
        }

        /* Icon */

        .icon {
            font-size: 0.875em; /* 14 / 16 */
        }
    }
}

@media all and (min-width: $bp-small) {

    .pagination {

        .pagination__list {

            .pagination__item {
                display: block;
            }
        }
    }
}
