/* -------------------------------------------------------------------------- *\
   #TABS
\* -------------------------------------------------------------------------- */

.tabs {
    margin-bottom: 1em;

    /* List */

    .tab-list {
        @include list();
        margin-bottom: 1em;

        /* Tab */

        .tab-list__tab {
            margin-bottom: 0.25em;

            &:last-child {
                margin-bottom: 0;
            }

            /**
             * Selected
             */

            &.is-selected {

                .tab-list__link {
                    background-color: $color-gray;
                    color: $color-black;
                }
            }
        }

        /* Link */

        .tab-list__link {
            background-color: $color-white-dark;
            color: $color-gray-dark;
            display: block;
            font-weight: $weight-bold;
            padding: 1em;
            text-decoration: none;
            transition: background-color 0.25s, color 0.25s;

            &:focus,
            &:hover {
                background-color: $color-silver;
                color: $color-black;
            }
        }
    }

    /* Panel */

    .tab-panel {
        display: none;

        /**
         * Selected
         */

        &.is-selected {
            display: block;
        }
    }
}

@media all and (min-width: $bp-xs) {

    .tabs {

        .tab-list {
            @include clearfix();

            .tab-list__tab {
                float: left;
                margin-bottom: 0;
                margin-right: 0.125em;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}
