/* -------------------------------------------------------------------------- *\
   #ARTICLE
\* -------------------------------------------------------------------------- */

.article {
    margin-bottom: 1em;

    /**
     * Block Quote
     */

    blockquote {
        @include blockquote();
    }

    /**
     * Figure
     */

    figure {
        @include figure();

        img {
            max-width: none;
            width: 100%;
        }
    }

    /**
     * Horizontal Rule
     */

    hr {
        @include hr();
    }

    /**
     * Image
     */

    img {
        height: auto;
        margin-bottom: 1em;
        max-width: 100%;
    }

    /**
     * Lists
     */

    dl,
    ol,
    ul {
        margin-top: 1em;
        margin-bottom: 1em;
        padding-left: 2em;

        dd,
        dt,
        li {
            font-size: 1em;
            margin-bottom: 1em;

            li {
                font-size: 1em;
            }
        }
    }

    dl {
        padding-left: 0;
    }

    /**
     * Paragraph
     */

    > p {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    /**
     * Narrow
     */

    &.article--narrow {
        margin-right: auto;
        margin-left: auto;
        max-width: 40em; /* 640 / 16 */
    }
}

@media all and (min-width: $bp-small) {

    .article {

        blockquote {
            margin-top: 2em;
            margin-bottom: 2em;
        }

        figure {
            margin-top: 2em;
            margin-bottom: 2em;
        }

        > p {
            margin-top: 2em;
            margin-bottom: 2em;
        }

        .u-pull--right {
            margin-left: 2em;
        }

        .u-pull--left {
            margin-right: 2em;
        }
    }
}
