/**
 * LAYOUT
 */

/* -------------------------------------------------------------------------- *\
   #TABLE OF CONTENTS
\* -------------------------------------------------------------------------- */

/**
 * WRAPPER
 */





/* -------------------------------------------------------------------------- *\
   #WRAPPER
\* -------------------------------------------------------------------------- */

.l-wrapper {
    .clearfix();
    margin-right: auto;
    margin-left: auto;
    max-width: 71.25em; /* 1140 / 16 */
    position: relative;
    width: 90%;
}
