/* -------------------------------------------------------------------------- *\
   SLICK
\* -------------------------------------------------------------------------- */

/**
 * Theme
 */

/* Slider */
.slick-loading .slick-list {
    background: @color-white url("../images/general/loader.gif") center center no-repeat;
}

/* Slide */
.slick-slide img {
    display: block;
    height: auto;
    max-width: 100%;
}

/* Arrows */
.slick-prev,
.slick-next {
    background: transparent;
    border: none;
    color: transparent;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 24px;
    line-height: 0;
    margin-top: -10px;
    outline: none;
    padding: 0;
    position: absolute;
    top: 50%;
    width: 24px;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    background: transparent;
    color: transparent;
    outline: none;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev:before,
.slick-next:before {
    color: @color-black;
    font-family: "FontAwesome";
    font-size: 24px;
    line-height: 1;
    opacity: .75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: 16px;
}

[dir="rtl"] .slick-prev {
    left: auto;
    right: 16px;
}

.slick-prev:before {
    content: "\f053";
}

[dir="rtl"] .slick-prev:before {
    content: "\f054";
}

.slick-next {
    right: 16px;
}

[dir="rtl"] .slick-next {
    left: 16px;
    right: auto;
}

.slick-next:before {
    content: "\f054";
}

[dir="rtl"] .slick-next:before {
    content: "\f053";
}

/* Dots */
.slick-slider {
    margin-bottom: 16px;
}

.slick-dots {
    bottom: 0;
    display: block;
    list-style: none;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.slick-dots li {
    cursor: pointer;
    display: inline-block;
    height: 24px;
    margin: 0 5px;
    padding: 0;
    position: relative;
    width: 24px;
}

.slick-dots li button {
    background: transparent;
    border: 0;
    color: transparent;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 24px;
    line-height: 0;
    outline: none;
    padding: 5px;
    width: 24px;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    color: @color-black;
    content: "\f111";
    font-family: "FontAwesome";
    font-size: 16px;
    height: 24px;
    opacity: .25;
    left: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 24px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots .slick-active button:before {
    color: @color-black;
    opacity: .75;
}
