/**
 * VARIABLES
 */

/* -------------------------------------------------------------------------- *\
   #TABLE OF CONTENTS
\* -------------------------------------------------------------------------- */

/**
 * BREAKPOINTS
 * COLORS
 * FONTS
 * .....Family
 * .....Size
 * .....Weight
 * Z-INDEX
 */




/* -------------------------------------------------------------------------- *\
   #BREAKPOINTS
\* -------------------------------------------------------------------------- */

$bp-xs:      30.00em; /*  480 / 16 */
$bp-small:   46.25em; /*  740 / 16 */
$bp-medium:  61.25em; /*  980 / 16 */
$bp-large:   75.00em; /* 1200 / 16 */
$bp-xl:      87.50em; /* 1400 / 16 */
$bp-xxl:    100.00em; /* 1600 / 16 */





/* -------------------------------------------------------------------------- *\
   #COLORS
\* -------------------------------------------------------------------------- */

/**
 * Brand
 */

$color-primary:     #001f3f;
$color-secondary:   #7fdbff;

/**
 * Grayscale
 */

$color-black:       #222;
$color-gray-dark:   #555;
$color-gray:        #aaa;
$color-silver:      #ddd;
$color-white-dark:  #f6f6f6;
$color-white:       #fff;

/**
 * Utility
 */

$color-red:         #ff4136;
$color-orange:      #ff851b;
$color-yellow:      #ffdc00;
$color-green:       #2ecc40;
$color-blue:        #0074d9;

/**
 * Social
 */

$color-facebook:    #3b5998;
$color-twitter:     #55acee;





/* -------------------------------------------------------------------------- *\
   #FONTS
\* -------------------------------------------------------------------------- */

/* ==========================================================================
   #Family
   ========================================================================== */

$font:           Arial, sans-serif;
$font-secondary: "Roboto", sans-serif;





/* ==========================================================================
   #Size
   ========================================================================== */

$h1-font-size: 2.2500em; /* 36 / 16 */
$h2-font-size: 1.5000em; /* 24 / 16 */
$h3-font-size: 1.3125em; /* 21 / 16 */
$h4-font-size: 1.1250em; /* 18 / 16 */
$h5-font-size: 1.0000em; /* 16 / 16 */
$h6-font-size: 0.8750em; /* 14 / 16 */





/* ==========================================================================
   #Weight
   ========================================================================== */

$weight-bold:   700;
$weight-normal: 400;





/* -------------------------------------------------------------------------- *\
   #Z-INDEX
\* -------------------------------------------------------------------------- */

/**
 * Tooltips
 */

$z-index-tooltips:       1100;

/**
 * Modal
 */

$z-index-modal:          1050;
$z-index-modal-backdrop: 1040;

/**
 * Menu Dropdown
 */

$z-index-menu-dropdown:  1010;

/**
 * Button Dropdown
 */

$z-index-btn-dropdown:   1000;
