/**
 * VARIABLES
 */

/* -------------------------------------------------------------------------- *\
   #TABLE OF CONTENTS
\* -------------------------------------------------------------------------- */

/**
 * BREAKPOINTS
 * COLORS
 * FONTS
 * .....Family
 * .....Weight
 * Z-INDEX
 */





/* -------------------------------------------------------------------------- *\
   #BREAKPOINTS
\* -------------------------------------------------------------------------- */

$sg-bp-xs:      30.00em; /*  480 / 16 */
$sg-bp-small:   46.25em; /*  740 / 16 */
$sg-bp-medium:  61.25em; /*  980 / 16 */
$sg-bp-large:   75.00em; /* 1200 / 16 */
$sg-bp-xl:      87.50em; /* 1400 / 16 */
$sg-bp-xxl:    100.00em; /* 1600 / 16 */





/* -------------------------------------------------------------------------- *\
   #COLORS
\* -------------------------------------------------------------------------- */

/**
 * Brand
 */

$sg-color-primary:    #fff;
$sg-color-secondary:  #4a4a4a;

/**
 * Grayscale
 */

$sg-color-black:      #222;
$sg-color-gray-dark:  #4a4a4a;
$sg-color-gray:       #898989;
$sg-color-silver:     #d2d2d2;
$sg-color-white-dark: #f2f2f2;
$sg-color-white:      #fff;





/* -------------------------------------------------------------------------- *\
   #FONTS
\* -------------------------------------------------------------------------- */

/* ==========================================================================
   #Family
   ========================================================================== */

$sg-font:           Arial, sans-serif;
$sg-font-secondary: "Source Sans Pro", sans-serif;





/* ==========================================================================
   #Size
   ========================================================================== */

$sg-h1-font-size: 2.250em; /* 36 / 16 */
$sg-h2-font-size: 1.875em; /* 30 / 16 */
$sg-h3-font-size: 1.500em; /* 24 / 16 */
$sg-h4-font-size: 1.125em; /* 18 / 16 */
$sg-h5-font-size: 0.875em; /* 14 / 16 */
$sg-h6-font-size: 0.750em; /* 12 / 16 */





/* ==========================================================================
   #Weight
   ========================================================================== */

$sg-weight-bold:      700;
$sg-weight-semi-bold: 600;
$sg-weight-normal:    400;





/* -------------------------------------------------------------------------- *\
   #Z-INDEX
\* -------------------------------------------------------------------------- */

/**
 * Aside
 */

$sg-z-index-aside:             1020;
