/* -------------------------------------------------------------------------- *\
   #FIGURE
\* -------------------------------------------------------------------------- */

/**
 * The <figure> element is intended to be used in conjunction with the
 * <figcaption> element to mark up diagrams, illustrations, photos, as per:
 * http://html5doctor.com/the-figure-figcaption-elements
 *
 * E.g.:
 *
   <figure class="figure">
       <img src="" width="" height="" alt="">
       <figcaption></figcaption>
   </figure>
 *
 */

/**
 * Mixin
 */

@mixin figure() {
    margin: 0 0 1.5rem 0;

    img {
        margin-bottom: 0.5em;
    }

    figcaption {
        color: $color-gray;
        font-size: 1.125em; /* 18 / 16 */
    }
}

/**
 * Figure
 */

.figure {
    @include figure();
}
