/* -------------------------------------------------------------------------- *\
   #HEADINGS
\* -------------------------------------------------------------------------- */

/**
 * Mixin
 */

@mixin heading($font-size, $percentage) {
    font-family: $font-secondary;
    font-size: $font-size;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 1.5rem;

    @media all and (min-width: $bp-small) {
        font-size: $font-size / $percentage; /* Increase the font size by a percentage */
    }
}

/**
 * Headings
 */

h1, .alpha {
    @include heading($h1-font-size, 0.75);
}

h2, .beta {
    @include heading($h2-font-size, 0.75);
}

h3, .gamma {
    @include heading($h3-font-size, 1.00);
}

h4, .delta {
    @include heading($h4-font-size, 1.00);
}

h5, .epsilon {
    @include heading($h5-font-size, 1.00);
}

h6, .zeta {
    @include heading($h6-font-size, 1.00);
}
