/**
 * LISTS
 */

/* -------------------------------------------------------------------------- *\
   #TABLE OF CONTENTS
\* -------------------------------------------------------------------------- */

/**
 * MIXIN
 * DESCRIPTION
 * CUSTOM
 */





/* -------------------------------------------------------------------------- *\
   #MIXIN
\* -------------------------------------------------------------------------- */

@mixin reset-list() {
    list-style: none;
    margin: 0 0 1.5rem 0;
    padding: 0;

    dl,
    ol,
    ul {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    dd,
    li {
        margin-bottom: 1rem;
        margin-left: 0;

        &:last-child {
            margin-bottom: 0;
        }
    }
}





/* -------------------------------------------------------------------------- *\
   #DESCRIPTION
\* -------------------------------------------------------------------------- */

dl {
    @include reset-list();

    dt {
        font-weight: $weight-bold;
    }
}





/* -------------------------------------------------------------------------- *\
   #CUSTOM
\* -------------------------------------------------------------------------- */

.list {
    @include reset-list();

    /**
     * Inline
     */

    &.list--inline {
        @include clearfix();

        li {
            float: left;
            margin-left: 1rem;
            margin-bottom: 0;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    /**
     * Ordered
     */

    &.list--ordered {
        list-style: decimal;
        margin-left: 1.5rem;
    }

    /**
     * Unordered
     */

    &.list--unordered {
        list-style: square;
        margin-left: 1.5rem;
    }

    /**
     * Unstyled
     */

    &.list--unstyled {
        @include reset-list();
    }
}
