/* -------------------------------------------------------------------------- *\
   #PARAGRAPH
\* -------------------------------------------------------------------------- */

p {
    margin-top: 0;
    margin-bottom: 0;

    a {
        color: $color-gray-dark;
        transition: color 0.25s;

        &:focus,
        &:hover {
            color: $color-blue;
        }
    }

    /**
     * Mark
     */

    mark {
        background-color: $color-yellow;
        color: $color-black;
    }
}
