/* -------------------------------------------------------------------------- *\
   $MAP
\* -------------------------------------------------------------------------- */

.map {
    height: 100%;
    width: 100%;

    .map__img {
        display: block;
        height: auto;
        visibility: visible;
        width: 100%;

        &.is-hidden {
            display: none;
            visibility: visible;
        }
    }

    .map__canvas {
        border: 0;
        display: block;
        height: 100%;
        visibility: visible;
        width: 100%;

        &.is-hidden {
            display: none;
            visibility: visible;
        }
    }

    .map__btn {
        margin-top: 1em;
        visibility: visible;

        &.is-hidden {
            display: none;
            visibility: visible;
        }
    }
}

@media all and (min-width: @bp-small) {

    .map {
        background-color: @color-white-dark;
        height: auto;
        padding-bottom: 56.25%;
        position: relative;

        .map__canvas {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
}
