/* -------------------------------------------------------------------------- *\
   MODAL
\* -------------------------------------------------------------------------- */

.modal-content {
    border-radius: 0;
}

.modal-header {
    padding: 1em;
    position: relative;

    .btn {
        border-color: transparent;
        color: @color-gray;
        position: absolute;
        right: 0;
        top: 0;

        &:focus,
        &:hover {
            border-color: transparent;
            color: @color-black;
        }
    }
}

.modal-body {
    padding: 1em;
}

.modal-footer {
    padding: 1em;
}
