/* -------------------------------------------------------------------------- *\
   MODAL
\* -------------------------------------------------------------------------- */

.modal-content {
    border-radius: 0;
}

.modal-header {
    padding: 1em;
    position: relative;

    .modal-close {
        background-color: transparent;
        border: 0;
        color: @color-gray;
        position: absolute;
        right: 0;
        top: 0;
        .transition(color 0.25s);

        &:focus,
        &:hover {
            color: @color-black;
            outline: none;
        }
    }
}

.modal-body {
    padding: 1em;
}

.modal-footer {
    padding: 1em;
}
