/* -------------------------------------------------------------------------- *\
   $NAVIGATION
\* -------------------------------------------------------------------------- */

.nav {
    width: 100%;

    .list {
        .clearfix();
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;
        white-space: nowrap;

        li {
            display: inline-block;
            margin-right: 1.25em;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .is-active {

        a {
            color: @color-black;
        }
    }

    a {
        color: @color-gray-dark;
        display: block;
        font-size: 1.125em; /* 18 / 16 */
        font-weight: @weight-bold;
        text-decoration: none;

        &:focus,
        &:hover {
            color: @color-black;
        }
    }

    /**
     * Vertical
     */

    &.nav--vertical {
        margin-bottom: 1em;

        .list {

            li {
                border-bottom: 2px solid @color-white;
                display: block;
                margin-right: 0;

                &:last-child {
                    border-bottom: 0;
                }
            }
        }

        a {
            background-color: @color-white-dark;
            font-size: 1em;
            padding: 1em 1.3125em;
            .transition(background-color 0.25s);

            &:focus,
            &:hover {
                background-color: @color-silver;
            }
        }
    }
}

@media all and (min-width: @bp-xs) {

    .nav {

        /**
         * Vertical
         */

        &.nav--vertical {
            max-width: 20em; /* 320 / 16 */
        }
    }
}
