/* -------------------------------------------------------------------------- *\
   #CODE
\* -------------------------------------------------------------------------- */

.sg-code {
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: pre;
}
