/* -------------------------------------------------------------------------- *\
   #CODE
\* -------------------------------------------------------------------------- */

.sg-code {
    display: none;
    margin-top: 1em;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: pre;
}

@media all and (min-width: $sg-bp-medium) {

    .sg-code {
        display: block;
    }
}
