/* -------------------------------------------------------------------------- *\
   #GRID
\* -------------------------------------------------------------------------- */

/* Row */

.sg-row {
    background-color: $sg-color-white-dark;

    /* Column */

    .sg-col {
        background-color: $sg-color-gray;
    }
}
