/**
 * LISTS
 */

/* -------------------------------------------------------------------------- *\
   #TABLE OF CONTENTS
\* -------------------------------------------------------------------------- */

/**
 * CUSTOM
 */





/* -------------------------------------------------------------------------- *\
   #CUSTOM
\* -------------------------------------------------------------------------- */

.sg-list {
    @include sg-list();

    /**
     * Inline
     */

    &.sg-list--inline {
        @include sg-clearfix();

        li {
            float: left;
            margin-left: 1rem;
            margin-bottom: 0;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    /**
     * Unstyled
     */

    &.sg-list--unstyled {
        @include sg-list();
    }

    /**
     * Palette
     */

    &.sg-list--palette {
        @include sg-clearfix();

        li {
            float: left;
            height: 6em;
            text-align: center;
            width: 100%;
        }

        /**
         * Color
         */

        .sg-list--palette__color {
            height: 100%;
            margin-bottom: 0.5em;

            &:focus,
            &:hover {

                .sg-code {
                    display: none;

                    &:last-child {
                        display: inline-block;
                    }
                }
            }

            .sg-code {
                background-color: $sg-color-white;
                color: $sg-color-black;
                display: inline-block;
                margin-top: 0;
                padding-right: 0.25em;
                padding-left: 0.25em;
                position: relative;
                top: 50%;
                transform: translateY(-50%);

                &:last-child {
                    display: none;
                }
            }
        }
    }
}

@media all and (min-width: $sg-bp-xs) {

    .sg-list {

        &.sg-list--palette {
            margin-right: -1em;
            margin-bottom: -2em;
            margin-left: -1em;

            li {
                margin-right: 1em;
                margin-bottom: 2em;
                margin-left: 1em;
                width: 12em;
            }
        }
    }
}
