/* ==========================================================================
   $TABLE OF CONTENTS
   ========================================================================== */

/**
 * CLEARFIX
 * COLOURS
 * .....BACKGROUND
 * .....FOREGROUND
 * HIDDEN
 * VISIBILITY
 */





/* ==========================================================================
   $CLEARFIX
   ========================================================================== */

/**
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}





/* -------------------------------------------------------------------------- *\
   $COLOURS
\* -------------------------------------------------------------------------- */

/* ==========================================================================
   $BACKGROUND COLOURS
   ========================================================================== */

.bg-colour-black {
    background-color: @colour-black;
}

.bg-colour-grey-dark {
    background-color: @colour-grey-dark;
}

.bg-colour-grey {
    background-color: @colour-grey;
}

.bg-colour-silver {
    background-color: @colour-silver;
}

.bg-colour-white-dark {
    background-color: @colour-white-dark;
}

.bg-colour-white {
    background-color: @colour-white;
}

.bg-colour-maroon {
    background-color: @colour-maroon;
}

.bg-colour-purple {
    background-color: @colour-purple;
}

.bg-colour-fuchsia {
    background-color: @colour-fuchsia;
}

.bg-colour-red {
    background-color: @colour-red;
}

.bg-colour-orange {
    background-color: @colour-orange;
}

.bg-colour-yellow {
    background-color: @colour-yellow;
}

.bg-colour-olive {
    background-color: @colour-olive;
}

.bg-colour-green {
    background-color: @colour-green;
}

.bg-colour-lime {
    background-color: @colour-lime;
}

.bg-colour-aqua {
    background-color: @colour-aqua;
}

.bg-colour-teal {
    background-color: @colour-teal;
}

.bg-colour-blue {
    background-color: @colour-blue;
}

.bg-colour-navy {
    background-color: @colour-navy;
}

/**
 * Social Media
 */

.bg-colour-facebook {
    background-color: @colour-facebook;
}

.bg-colour-twitter {
    background-color: @colour-twitter;
}





/* ==========================================================================
   $FOREGROUND COLOURS
   ========================================================================== */

.black {
    color: @colour-black;
}

.grey-dark {
    color: @colour-grey-dark;
}

.grey {
    color: @colour-grey;
}

.silver {
    color: @colour-silver;
}

.white-dark {
    color: @colour-white-dark;
}

.white {
    color: @colour-white;
}

.maroon {
    color: @colour-maroon;
}

.purple {
    color: @colour-purple;
}

.fuchsia {
    color: @colour-fuchsia;
}

.red {
    color: @colour-red;
}

.orange {
    color: @colour-orange;
}

.yellow {
    color: @colour-yellow;
}

.olive {
    color: @colour-olive;
}

.green {
    color: @colour-green;
}

.lime {
    color: @colour-lime;
}

.aqua {
    color: @colour-aqua;
}

.teal {
    color: @colour-teal;
}

.blue {
    color: @colour-blue;
}

.navy {
    color: @colour-navy;
}

/**
 * Social Media
 */

.facebook {
    color: @colour-facebook;
}

.twitter {
    color: @colour-twitter;
}





/* ==========================================================================
   $HIDDEN
   ========================================================================== */

/**
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/**
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/**
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}





/* ==========================================================================
   $VISIBILITY
   ========================================================================== */

/**
 * Toggle element visibility based on screen width
 */

@media all and (max-width: @bp-medium) {

    /* Hidden on small screens */
    .hide-small {
        display: none !important;
        visibility: hidden !important;
    }
}

@media all and (min-width: @bp-medium) and (max-width: @bp-large) {

    /* Hidden on medium screens */
    .hide-med {
        display: none !important;
        visibility: hidden !important;
    }
}

@media all and (min-width: @bp-large) {

    /* Hidden on large screens */
    .hide-large {
        display: none !important;
        visibility: hidden !important;
    }
}

/**
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}