/* ==========================================================================
   $TABLE OF CONTENTS
   ========================================================================== */

/**
 * BASE
 * ELEMENTS
 * .....HEADINGS
 * .....TEXT
 * .....LISTS
 * .....HORIZONTAL RULES
 * .....TABLES
 * .....BUTTONS
 * MEDIA
 * GRID
 * BUTTON GROUP
 * FEEDBACK
 * VISIBILITY
 * LEGACY SUPPORT
 */





/* ==========================================================================
   $BASE
   ========================================================================== */

/**
 * Apply a natural box layout model to all elements
 */

*,
:before,
:after {
    .box-sizing(border-box);
}

/**
 *  Keep the page centred in all browsers regardless of content height
 */

html {
    overflow-y: scroll;
}

/**
 * Remove the gap between images, videos, audio and canvas and the bottom of their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}





/* -------------------------------------------------------------------------- *\
   $ELEMENTS
\* -------------------------------------------------------------------------- */

/* ==========================================================================
   $HEADINGS
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.5em 0;
}





/* ==========================================================================
   $TEXT
   ========================================================================== */

/**
 * Blockquotes
 */

.blockquote {
    border-left: 2px @colour-silver solid;
    margin: 0 0 0 1em;
    overflow: hidden;
    padding: 0 1em;

    /* Quote */
    p {
        margin-top: 0;

        /* Citation */
        & + footer {
            margin-top: 1em;
        }
    }
}

/**
 * Paragraphs
 */

p {
    margin: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;

    /* Adjacent paragraphs */
    & + p {
        margin-top: 1em;
    }

    /**
     * Inline images
     */

    img {

        /* Left */
        &.pull-left {
            display: block;
            float: none;
            margin-bottom: 1em;
            height: auto;
            width: 100%;

            @media all and (min-width: @bp-small) {
                display: inline-block;
                float: left;
                margin-right: 1em;
                margin-bottom: 0.5em;
                width: auto;
            }
        }

        /* Right */
        &.pull-right {
            display: block;
            float: none;
            margin-bottom: 1em;
            height: auto;
            width: 100%;

            @media all and (min-width: @bp-small) {
                display: inline-block;
                float: right;
                margin-left: 1em;
                margin-bottom: 0.5em;
                width: auto;
            }
        }
    }

    /**
     * Mark
     */

    mark {
        background-color: @colour-yellow;
    }
}





/* ==========================================================================
   $LISTS
   ========================================================================== */

/**
 * Default List
 */

.list {
    margin: 0 0 0 2em;
    padding: 0;

    li {
        margin-bottom: 0.5em;

        &:last-child {
            margin-bottom: 0;
        }

        /* Nested Lists */
        ol, ul {
            margin-top: 0.5em;
        }
    }
}

/**
 * Breadcrumbs List
 */

.list-breadcrumbs {
    background-color: @colour-white-dark;
    list-style: none;
    margin-left: 0;
    overflow: hidden;
    padding: 0.5em 1em 0 1em;

    li {
        float: left;
        margin-right: 0.5em;
        margin-bottom: 0.5em;

        &:last-child {
            margin-right: 0;
            margin-bottom: 0.5em;
        }

        /* Separator */
        &+ li {

            &:before {
                content: "/";
                padding-right: 0.5em;
            }
        }
    }
}

/**
 * Counter List
 */

.list-counter {
    counter-reset: item;
    list-style: none;
    margin-left: 0.6em;

    /* Nested */
    ol {
        counter-reset: item;
        list-style: none;
    }

    li {

        &:before {
            content: counters(item, ".") ". ";
            counter-increment: item;
            padding-right: 0.4em;
        }
    }
}

/**
 * Description List
 */

dl {

    /* Description */
    dd {
        margin: 0 0 0.5em 0;
    }
}

/**
 * Horizontal List
 */

.list-horizontal {
    margin-left: 0;
    list-style: none;
    overflow: hidden;

    @media all and (min-width: @bp-medium) {

        li {
            float: left;
            margin-right: 1em;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}

/**
 * Vertical List
 */

.list-vertical {
    margin-left: 0;
    list-style: none;
}

/**
 * Links List
 */

.list-links {

    li {

        /* Icon */
        .icon {
            margin-right: 0.5em;
        }
    }
}

/**
 * Pagination List
 */

.list-pagination {
    background-color: @colour-white-dark;
    display: inline-block;
    list-style: none;
    margin-left: 0;
    overflow: hidden;

    li {
        border-right: 1px @colour-silver solid;
        float: left;
        margin-bottom: 0;

        &:last-child {
            border-right: 0;
            border-left: 1px @colour-silver solid;

            @media all and (min-width: @bp-smaller) {
                border-left: 0;
            }
        }

        /* Current */
        &.current {

            /* Anchor */
            a {
                background-color: @colour-blue;
            }
        }

        /* Disabled */
        &.disabled {
            padding: 0.125em 0.5em;

            @media all and (min-width: @bp-smaller) {
                padding: 0.5em 1em;
            }
        }

        /* Anchor */
        a {
            display: block;
            padding: 0.125em 0.5em;

            @media all and (min-width: @bp-smaller) {
                padding: 0.5em 1em;
            }

            &:focus,
            &:hover {
                background-color: @colour-blue;
            }
        }
    }
}

/**
 * Posts List
 */

.list-posts {
    list-style: none;
    margin: 0;

    li {
        margin-bottom: 4em;
        overflow: hidden;

        &:last-child {
            margin-bottom: 0;
        }

        /* Thumbnail */
        .thumb {
            float: left;
            margin-right: 1em;
            margin-bottom: 1em;
            width: 100%;

            @media all and (min-width: @bp-smaller) {
                width: auto;
            }

            img {
                display: block;
                height: auto;
                width: 100%;

                @media all and (min-width: @bp-smaller) {
                    width: auto;
                }
            }
        }
    }
}





/* ==========================================================================
   $HORIZONTAL RULES
   ========================================================================== */

.hr {
    background-color: @colour-silver;
    border: 0;
    height: 2px;
    margin: 0 0 0.5em 0;
    padding: 0;
}





/* ==========================================================================
   $TABLES
   ========================================================================== */

/**
 * Default Table
 */

.table {

    /* Table Caption */
    caption {
        padding-top: 1em;
        padding-bottom: 1em;
    }

    /* Table Header */
    thead {
        border-bottom: 2px @colour-silver solid;

        th {
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            padding-left: 0.5em;
        }
    }

    /* Table Body */
    tbody {

        td {
            border-bottom: 1px @colour-white-dark solid;
            padding: 0.5em 3em 0.5em 0.5em;
        }
    }

    /* Table Footer */
    tfoot {

        td {
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            padding-left: 0.5em;
        }
    }

    /**
     * Table with borders
     */

    &.table-bordered {
        border: 1px @colour-silver solid;

        /* Table Header */
        thead {

            th {
                border-right: 1px @colour-silver solid;
            }
        }

        /* Table Body */
        tbody {

            td {
                border-right: 1px @colour-silver solid;
                border-bottom: 1px @colour-silver solid;
            }
        }

        /* Table Footer */
        tfoot {

            td {
                border-right: 1px @colour-silver solid;
            }
        }
    }

    /**
     * Table with condensed padding
     */

    &.table-condensed {

        /* Table Header */
        thead {

            th {
                padding-top: 0.25em;
                padding-bottom: 0.25em;
                padding-left: 0.25em;
            }
        }

        /* Table Body */
        tbody {

            td {
                padding: 0.25em 1.5em 0.25em 0.25em;
            }
        }

        /* Table Footer */
        tfoot {

            td {
                padding-top: 0.25em;
                padding-bottom: 0.25em;
                padding-left: 0.25em;
            }
        }
    }

    /**
     * Table with row hover
     */

    &.table-hover {

        tbody {

            tr {

                &:focus,
                &:hover {
                    background-color: @colour-yellow;
                }
            }
        }
    }

    /**
     * Table with alternate row background colour
     */

    &.table-striped {

        tbody {

            tr {

                &:nth-child(even) {
                    background-color: @colour-white-dark;
                }
            }
        }
    }
}

/**
 * Scrollable table on narrow viewports
 */

.scrollable {
    overflow-x: auto;

    &.has-scroll {
        position: relative;
        overflow: hidden;

        &:after {
            .border-radius(~"10px 0 0 10px / 50% 0 0 50%");
            .box-shadow(-4px 0 12px @colour-silver);
            content: '';
            height: 100%;
            left: 100%;
            position: absolute;
            top: 0;
            width: 50px;
        }

        & > div {
            overflow-x: auto;
        }
    }

    /* Scroll bar */
    & > div::-webkit-scrollbar {
        height: 10px;
    }

    & > div::-webkit-scrollbar-track {
        background: @colour-white-dark;
    }

    & > div::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: @colour-silver;
    }
}





/* ==========================================================================
   $BUTTONS
   ========================================================================== */

/**
 * Default Button
 */

.btn {
    background-color: @colour-grey;
    border: 1px @colour-grey solid;
    display: inline-block;
    padding: 0.563em 1.25em;
    .transition(~"background-color 0.25s, border 0.25s");
    width: 100%;

    @media all and (min-width: @bp-small) {
        width: auto;
    }

    &:active {
        position: relative;
        top: 1px;
    }

    &:focus,
    &:hover {
        border: 1px @colour-grey-dark solid;
    }

    /**
     * Alternative Button
     */

    &.btn-alt {
        background-color: @colour-silver;
        border: 1px @colour-silver solid;
        padding: 0.3em 0.8em;

        &:focus,
        &:hover {
            border: 1px @colour-grey-dark solid;
        }
    }

    /**
     * Disabled Button
     */

    &.btn-disabled {
        background-color: @colour-white-dark;
        border: 1px @colour-white-dark solid;
        cursor: default;

        &:active {
            position: inherit;
            top: 0;
        }

        &:focus,
        &:hover {
            border: 1px @colour-white-dark solid;
        }
    }

    /**
     * Icon-only Button
     */

    &.btn-icon {
        padding-right: 0.875em;
        padding-left: 0.875em;

        /* Icon */
        .icon {
            margin-right: 0;
        }
    }

    /**
     * Link Button
     */

    &.btn-link {
        background-color: transparent;
        border-color: transparent;
    }

    /* Icon */
    .icon {
        margin-right: 0.5em;
    }
}





/* ==========================================================================
   $MEDIA
   ========================================================================== */

/**
 * Figure
 */

figure {

    img {
        height: auto;
        width: 100%;
    }

    figcaption {
        margin-top: 1em;
    }
}

/**
 * Responsive embedding of iframes, objects, embeds
 */

.fluid-embed {
    height: auto;
    max-width: 100%;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 56.25%;
    position: relative;

    iframe,
    object,
    embed {
        border: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}





/* ==========================================================================
   $GRID
   ========================================================================== */

/**
 * Row
 */

.row {
    margin-top: 4%;
    overflow: hidden;

    &:first-child {
        margin-top: 0;
    }

    @media all and (min-width: @bp-medium) {
        margin-top: 2%;
    }

    /**
     * Column
     */

    .col {
        margin-bottom: 4%;
        width: 100%;

        &:last-child {
            margin-bottom: 0;
        }

        @media all and (min-width: @bp-medium) {
            float: left;
            margin-bottom: 0;
            margin-left: 2%;

            &:first-child {
                margin-left: 0;
            }

            /* Appears first on narrow screens; right on wider screens */
            &.flow-opposite {
                float: right;
            }

            /* 1/6 */
            &.col-1-6 {
                width: 15%;
            }

            /* 1/5 */
            &.col-1-5 {
                width: 18.4%;
            }

            /* 1/4 */
            &.col-1-4 {
                width: 23.5%;
            }

            /* 1/3 */
            &.col-1-3 {
                width: 32%;
            }

            /* 2/5 */
            &.col-2-5 {
                width: 38.8%;
            }

            /* 2/4 */
            &.col-2-4 {
                width: 49%;
            }

            /* 3/5 */
            &.col-3-5 {
                width: 59.2%;
            }

            /* 4/5 */
            &.col-4-5 {
                width: 79.6%;
            }

            /* 5/6 */
            &.col-5-6 {
                width: 83%;
            }

            /* 2/3 */
            &.col-2-3 {
                width: 66%;
            }
        }
    }
}





/* ==========================================================================
   $BUTTON GROUP
   ========================================================================== */

/**
 * Button Group
 */

.button-group {
    overflow: hidden;

    /* Right */
    &.right {

        /* Button */
        .btn {
            float: right;
            margin-right: 0;
            margin-left: 1em;
        }
    }

    /* Button */
    .btn {
        margin-right: 1em;
        margin-bottom: 1em;

        @media all and (min-width: @bp-largest) {
            margin-bottom: 0;
        }
    }
}





/* ==========================================================================
   $FEEDBACK
   ========================================================================== */

/**
 * Feedback
 */

.feedback {
    border-left-style: solid;
    border-left-width: 3px;
    clear: both;
    padding: 0.75em 1em;

    @media all and (min-width: @bp-medium) {
        padding: 1em 1.5em;
    }


    /* Heading */
    h6, .zeta {
        margin-bottom: 1em;

        /* Icon */
        .icon {
            margin-right: 0.5em;
        }
    }

    /**
     * Success
     */
    &.feedback-success {
        border-color: @colour-green;
    }

    /**
     * Information
     */
    &.feedback-info {
        border-color: @colour-blue;
    }

    /**
     * Warning
     */
    &.feedback-warning {
        border-color: @colour-orange;
    }

    /**
     * Error
     */
    &.feedback-error {
        border-color: @colour-red;
    }
}





/* ==========================================================================
   $LEGACY SUPPORT
   ========================================================================== */

/**
 * Browse Happy prompt to upgrade browser
 */

.browsehappy {
    background-color: @colour-silver;
    margin-bottom: 0.5em;
    padding: 0.5em 0;
    text-align: center;
    width: 100%;
}