/* ==========================================================================
   $TABLE OF CONTENTS
   ========================================================================== */

/**
 * MODAL
 * PLACEHOLDER
 * SLIDER
 * TOOLTIP
 */





/* ==========================================================================
   $MODAL
   ========================================================================== */

.modal {
    background-color: @colour-white;
    .box-shadow(0 0 10px @colour-grey-dark);
    display: none;
    max-height: @bp-smallest;
    overflow-y: auto;
    padding: 0.75em 1em;
    width: 90%;

    @media all and (min-height: @bp-small) {
        max-height: @bp-smaller;
    }

    @media all and (min-height: @bp-medium) {
        max-height: inherit;
        overflow: visible;
    }

    @media all and (min-width: @bp-largest) {
        max-width: 960px;
        padding: 1em 1.25em;
    }

    /* Close */
    a.close-modal {
        background-color: @colour-white;
        .border-top-right-radius(3px);
        .border-top-left-radius(3px);
        display: block;
        float: right;
        padding-bottom: 0.3em;

        @media all and (min-height: @bp-medium) {
            padding: 0.3em 0.5em;
            position: absolute;
            right: 0;
            top: -2.1em;
        }

        /* Icon */
        .icon {
            color: @colour-grey;
            font-size: 1.5em;
            .transition(color 0.25s);

            &:focus,
            &:hover {
                color: @colour-grey-dark;
            }
        }
    }
}

/* Spinner */
.modal-spinner {
    background: @colour-black no-repeat center center;
    background-image: url('../images/general/spinner.gif');
    display: none;
    height: 64px;
    left: 50%;
    margin-top: -32px;
    margin-right: -32px;
    position: fixed;
    top: 50%;
    width: 64px;
}





/* ==========================================================================
   $PLACEHOLDER
   ========================================================================== */

input,
textarea {

    &.placeholder {
        color: @colour-grey !important;
    }
}





/* ==========================================================================
   $SLIDER
   ========================================================================== */

/**
 * FlexSlider
 */

.slides,
.flex-control-nav,
.flex-direction-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.flexslider {
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
    display: block;
    width: 100%;
}

.flex-pauseplay span {
    text-transform: capitalize;
}

/* Clearfix for the .slides element */
.slides:after {
    clear: both;
    content: "\0020";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

html[xmlns] .slides {
    display: block;
}

* html .slides {
    height: 1%;
}

/* No JavaScript Fallback */
.no-js .slides > li:first-child {
    display: block;
}

/**
 * FlexSlider Default Theme
 */

.flexslider {
    margin: 0;
    position: relative;
    zoom: 1;
}

.flex-viewport {
    max-height: 2000px;
    .transition(all 1s);
}

.loading .flex-viewport {
    max-height: 300px;
}

.flexslider .slides {
    zoom: 1;
}

.carousel li {
    margin-right: 5px;
}

/**
 * Direction Navigation
 */

.flex-direction-nav {
    *height: 0;
}

.flex-direction-nav a {
    background-color: rgba(255, 255, 255, 0.1);
    color: @colour-white;
    cursor: pointer;
    display: block;
    height: 40px;
    margin: -20px 0 0;
    .opacity(0);
    overflow: hidden;
    padding-top: 1px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 48%;
    .transition(all 0.25s);
    width: 40px;
    z-index: 10;

    @media screen and (min-width: @bp-medium) {
        height: 50px;
        width: 50px;
    }
}

.flex-direction-nav .flex-prev {
    .opacity(1);
    left: 1em;
    padding-right: 1px;

    @media screen and (min-width: @bp-largest) {
        left: -50px;
    }
}

.flex-direction-nav .flex-next {
    .opacity(1);
    right: 1em;
    padding-left: 1px;

    @media screen and (min-width: @bp-largest) {
        right: -50px;
        padding-left: 1px;
    }
}

.flexslider:hover .flex-prev {
    left: 1em;
    .opacity(0.7);
}

.flexslider:hover .flex-next {
    .opacity(0.7);
    right: 1em
}

.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
    background-color: rgba(255, 255, 255, 0.2);
    .opacity(1);
}

.flex-direction-nav .flex-disabled {
    cursor: default;
    .opacity(0) !important;
}

.flex-direction-nav a:before {
    content: "\f053";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 24px;
    line-height: 40px;

    @media screen and (min-width: @bp-medium) {
        font-size: 32px;
        line-height: 50px;
    }
}

.flex-direction-nav a.flex-next:before {
    content: "\f054";
}

/**
 * Pause/Play
 */

.flex-pauseplay a {
    bottom: 5px;
    color: #000;
    cursor: pointer;
    display: block;
    height: 20px;
    left: 10px;
    .opacity(0.8);
    overflow: hidden;
    position: absolute;
    text-decoration: none;
    width: 20px;
    z-index: 10;
}

.flex-pauseplay a:before {
    content: '\f004';
    display: inline-block;
    font-family: FontAwesome;
    font-size: 1.25em; /* 20 / 16 */
}

.flex-pauseplay a:hover {
    .opacity(1);
}

.flex-pauseplay a.flex-play:before {
    content: '\f003';
}

/**
 * Control Navigation
 */

.flex-control-nav {
    bottom: 1em;
    position: absolute;
    text-align: center;
    width: 100%;

    @media screen and (min-width: @bp-medium) {
        bottom: 1.5em;
    }
}

.flex-control-nav li {
    display: inline-block;
    margin: 0 0.5em;
    zoom: 1;
}

.flex-control-paging li a {
    background-color: @colour-silver;
    .border-radius(25px);
    cursor: pointer;
    display: block;
    height: 15px;
    .opacity(0.8);
    text-indent: -9999px;
    .transition(all 0.25s);
    width: 15px;
}

.flex-control-paging li a:hover {
    background-color: @colour-silver;
    .opacity(1);
}

.flex-control-paging li a.flex-active {
    background-color: @colour-blue;
    cursor: default;
    .opacity(1);
}

.flex-control-thumbs {
    margin: 0;
    overflow: hidden;
    position: static;
}

.flex-control-thumbs li {
    float: left;
    margin: 0;
    width: 25%;
}

.flex-control-thumbs img {
    cursor: pointer;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    .opacity(0.5);
    width: 100%;
}

.flex-control-thumbs img:hover {
    .opacity(1);
}

.flex-control-thumbs .flex-active {
    cursor: default;
    .opacity(1);
}

/**
 * Carousel
 */

.flexcarousel li {
    margin-right: 0;
}

.flexcarousel img {
    cursor: pointer;
    display: block;
    .opacity(0.5);
}

.flexcarousel img:hover {
    .opacity(1);
}

.flexcarousel .flex-active-slide img {
    cursor: default;
    .opacity(1);
}





/* ==========================================================================
   $TOOLTIP
   ========================================================================== */

/**
 * Tooltip Wrapper
 */

.tooltip {
    display: block;
    font-size: 0.875em; /* 14 / 16 */
    line-height: 1.4;
    .opacity(0);
    position: absolute;
    visibility: visible;
    z-index: 20;

    &.in {
        .opacity(0.9);
    }

    &.top {
        margin-top: -3px;
        padding: 5px 0;
    }

    &.right {
        margin-left: 3px;
        padding: 0 5px;
    }

    &.bottom {
        margin-top: 3px;
        padding: 5px 0;
    }

    &.left {
        margin-left: -3px;
        padding: 0 5px;
    }
}

/**
 * Tooltip Inner
 */

.tooltip-inner {
    background-color: @colour-black;
    color: @colour-white-dark;
    max-width: 200px;
    padding: 1.25em 1em;
    text-align: center;
    text-decoration: none;
}

/**
 * Tooltip Arrow
 */

.tooltip-arrow {
    border-color: transparent;
    border-style: solid;
    height: 0;
    position: absolute;
    width: 0;
}

.tooltip.top .tooltip-arrow {
    border-top-color: @colour-black;
    border-width: 5px 5px 0;
    bottom: 0;
    left: 50%;
    margin-left: -5px;
}

.tooltip.top-left .tooltip-arrow {
    border-top-color: @colour-black;
    border-width: 5px 5px 0;
    bottom: 0;
    left: 5px;
}

.tooltip.top-right .tooltip-arrow {
    border-top-color: @colour-black;
    border-width: 5px 5px 0;
    bottom: 0;
    right: 5px;
}

.tooltip.right .tooltip-arrow {
    border-right-color: @colour-black;
    border-width: 5px 5px 5px 0;
    left: 0;
    margin-top: -5px;
    top: 50%;
}

.tooltip.left .tooltip-arrow {
    border-left-color: @colour-black;
    border-width: 5px 0 5px 5px;
    margin-top: -5px;
    right: 0;
    top: 50%;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: @colour-black;
    border-width: 0 5px 5px;
    left: 50%;
    margin-left: -5px;
    top: 0;
}

.tooltip.bottom-left .tooltip-arrow {
    border-bottom-color: @colour-black;
    border-width: 0 5px 5px;
    left: 5px;
    top: 0;
}

.tooltip.bottom-right .tooltip-arrow {
    border-bottom-color: @colour-black;
    border-width: 0 5px 5px;
    right: 5px;
    top: 0;
}