/* -------------------------------------------------------------------------- *\
   $TABLE OF CONTENTS
\* -------------------------------------------------------------------------- */

/**
 * IMPORTS
 * VARIABLES
 * .....Font
 * ELEMENTS
 * .....Buttons
 * .....Code
 * .....Headings
 * .....Icons
 * .....Lists
 * .....Paragraph
 * CONTAINERS
 * .....HTML
 * .....Body
 * .....Headers
 * .....Navigation
 * .....Main
 * .....Sections
 * .....Aside
 * .....Footer
 * .....Example
 * GRID
 * PRISM
 */





/* -------------------------------------------------------------------------- *\
   $IMPORTS
\* -------------------------------------------------------------------------- */

@import "generic/mixins";
@import "generic/variables";





/* -------------------------------------------------------------------------- *\
   $VARIABLES
\* -------------------------------------------------------------------------- */

/* ==========================================================================
   $Font
   ========================================================================== */

@font-styleguide: "Source Sans Pro", sans-serif;





/* -------------------------------------------------------------------------- *\
   $ELEMENTS
\* -------------------------------------------------------------------------- */

/* ==========================================================================
   $Buttons
   ========================================================================== */

.sg-btn {
    background-color: @color-white;
    border: 1px solid @color-silver;
    border-radius: 1px;
    color: @color-black;
    display: inline-block;
    font-family: @font-styleguide;
    font-weight: bold;
    line-height: normal;
    padding: 0.5em 0.75em 0.5625em 0.75em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    .transition(background-color 0.25s, border-color 0.25s, color 0.25s, top 0.25s;);

    &:active {
        position: relative;
        top: 1px;
    }

    &.is-active,
    &:focus,
    &:hover {
        background-color: @color-black;
        border-color: @color-black;
        color: @color-white;
        outline: none;
    }

    &.sg-btn--nav {
        background-color: @color-white-dark;
        border-color: @color-gray-dark;
        color: @color-gray-dark;
        font-size: 1.125em; /* 18 / 16 */
        padding: 0.125em 0.5em;

        &.is-active,
        &:focus,
        &:hover {
            background-color: @color-black;
            border-color: @color-black;
            color: @color-white;
        }
    }

    &.sg-btn--toggle {
        border-color: transparent;
        color: @color-black;
        font-size: 0.875em; /* 14 / 16 */
        text-align: left;

        &:active {
            top: 0;
        }

        &:focus,
        &:hover {
            background-color: @color-black;
            border-color: @color-black;
            color: @color-white;
        }
    }

    &.sg-btn--top {
        background-color: transparent;
        border-color: transparent;
        bottom: 1.125em;
        color: @color-gray;
        display: none;
        padding: 0.125em 0.5em;
        position: fixed;
        right: 1.5em;
        .transition(background-color 0.25s, border-color 0.25s, color 0.25s, top 0.25s;);

        &:active {
            position: fixed;
            top: inherit;
        }

        &:focus,
        &:hover {
            background-color: transparent;
            border-color: transparent;
            color: @color-black;
            opacity: 1;
        }

        .icon {
            font-size: 2em; /* 32 / 16 */
            margin-left: 0;
        }
    }

    .icon {
        font-size: 0.875em; /* 14 / 16 */
        margin-left: 0.75em;

        &.icon--left {
            margin-right: 0.75em;
            margin-left: 0;
        }
    }
}

@media all and (min-width: @bp-small) {

    .sg-btn {

        &.sg-btn--nav {
            display: none;
        }

        &.sg-btn--top {
            bottom: 2em;
        }
    }
}





/* ==========================================================================
   $Code
   ========================================================================== */

.sg-code {
    background-color: @color-white-dark;
    display: inline-block;
    font-size: 0.875em; /* 14 / 16 */
    margin-bottom: 1em;
    padding: 0.25em 0.5em;
}





/* ==========================================================================
   $Headings
   ========================================================================== */

.sg-heading {
    clear: both;
    color: @color-gray-dark;
    font-family: @font-styleguide;
    text-transform: uppercase;
    width: 100%;

    &.sg-heading--spacer {
        margin-top: 2.5em;
    }
}





/* ==========================================================================
   $Lists
   ========================================================================== */

.sg-list {
    font-family: @font-styleguide;
    list-style: none;
    margin-top: 0;
    padding-left: 0;

    &.sg-list--colors {
        .clearfix();
        margin-left: -1em;
        padding-left: 1em;

        li {
            border: 1px solid @color-white-dark;
            height: 9em;
            margin-bottom: 1em;
            position: relative;
            width: 100%;

            &:focus,
            &:hover {

                .sg-code {
                    max-height: 5.25em;
                }
            }

            .sg-code {
                background-color: @color-white;
                bottom: 0;
                left: 0;
                margin-bottom: 0;
                max-height: 2.625em;
                overflow: hidden;
                padding-top: 0.5em;
                padding-right: 0;
                padding-bottom: 0.5em;
                padding-left: 0;
                position: absolute;
                text-align: center;
                .transition(max-height 0.25s);
                width: 100%;

                .sg-code__value {
                    display: block;

                    &+ .sg-code__value {
                        padding-top: 0.5em;
                    }
                }
            }
        }
    }

    &.sg-list--icons {

        li {
            padding-bottom: 3em;

            .icon {
                float: left;
                font-size: 1.625em; /* 26 / 16 */
                text-align: center;
                width: 1.25em;
            }

            .sg-code {
                margin-left: 1em;
            }
        }
    }

    &.sg-list--templates {
        counter-reset: section;
        padding-left: 0.5em;

        li {
            color: @color-gray-dark;

            &:before {
                color: @color-gray;
                content: counters(section, ".") ". ";
                counter-increment: section;
                font-weight: @weight-bold;
                padding-right: 0.25em;
            }
        }

        .sg-list {
            counter-reset: section;
            padding-left: 1em;

            li {

                &:before {
                    counter-increment: section;
                    content: counters(section, ".") ". ";
                }
            }
        }

        a {
            color: @color-gray-dark;
            text-decoration: none;

            &:focus,
            &:hover {
                color: @color-black;
                text-decoration: underline;
            }
        }
    }
}

@media all and (min-width: @bp-xs) {

    .sg-list {

        &.sg-list--colors {
            padding-left: 0;

            li {
                float: left;
                margin-left: 1em;
                padding-bottom: 2em;
                width: 12em;
            }
        }

        &.sg-list--icons {
            .clearfix();
            margin-bottom: -2em;

            li {
                float: left;
                width: 33%;
            }
        }
    }
}





/* ==========================================================================
   $Paragraphs
   ========================================================================== */

.sg-paragraph {
    font-family: @font-styleguide;
    font-size: 1em;
    margin: 0;

    &.sg-paragraph--intro {
        font-size: 1.125em; /* 18 / 16 */
    }

    &+ .sg-paragraph {
        margin-top: 1em;
    }

    &+ .sg-list {
        margin-top: 2em;
    }

    &+ .sg-btn {
        margin-top: 2em;
    }

    .sg-anchor {
        color: @color-black;
        text-decoration: none;
        .transition(color 0.25s);

        &:focus,
        &:hover {
            color: @color-gray-dark;
            text-decoration: underline;
        }
    }

    .sg-icon {
        margin-right: 0.5em;
    }
}





/* -------------------------------------------------------------------------- *\
   $CONTAINERS
\* -------------------------------------------------------------------------- */

/* ==========================================================================
   $HTML
   ========================================================================== */

.sg-html {
    background: @color-white;
}

/* ==========================================================================
   $Body
   ========================================================================== */

body {

    /**
     * Patchwork s particularly useful for device testing because it shows elements
     * at full-width, presented on the page as they would appear on the site.
     */

    &.is-patchwork {

        .sg-main {
            width: 100%;
        }

        .sg-section {

            &:first-of-type {
                margin-top: 2em;
            }

            &.is-hidden {
                display: block;
                visibility: visible;
            }

            .sg-header--section,
            .sg-heading,
            .sg-example-code,
            .sg-code {
                display: none;
                visibility: hidden;
            }
        }

        .sg-aside {
            display: none;
            visibility: hidden;
        }

        .sg-footer {
            width: 100%;
        }
    }
}

/* ==========================================================================
   $Headers
   ========================================================================== */

.sg-header {
    width: 100%;

    &.sg-header--primary {
        background-color: @color-white-dark;
        box-shadow: 0 0 3px rgba(77,77,77, 0.5);
        .clearfix();
        margin-bottom: 1em;
        padding-top: 0.5em;
        position: relative;
        z-index: 2;

        .logo {
            display: block;
            margin-bottom: 0.5em;
            margin-left: 0.5em;
            width: 6.25em; /* 100 / 16 */

            img {
                height: auto;
                max-width: 100%;
            }
        }

        .sg-btn--nav {
            position: absolute;
            right: 0.5em;
            top: 1em;
        }
    }

    &.sg-header--main {
        border-bottom: 1px dotted @color-silver;
        margin-bottom: 2em;
        text-transform: uppercase;

        .hN {
            font-family: @font-styleguide;
            margin-bottom: 0.375em;
        }
    }

    &.sg-header--section {
        border-bottom: 1px dotted @color-silver;
        margin-bottom: 2em;
        text-transform: uppercase;
        white-space: nowrap;

        .hN {
            font-family: @font-styleguide;
            margin-bottom: 0.25em;
        }

        a {
            color: @color-silver;
            font-size: 0.875em; /* 14 / 16 */
            .transition(color 0.25s);

            &:focus,
            &:hover {
                color: @color-black;
            }
        }
    }

    .icon {
        margin-right: 0.5em;
    }
}

@media all and (min-width: @bp-small) {

    .sg-header {

        &.sg-header--primary {
            padding-bottom: 0.5em;

            .logo {
                float: left;
                margin-bottom: 0;
                margin-left: 2em;
            }

            .sg-nav {
                float: right;
                padding-top: 0.6125em;
            }
        }
    }
}





/* ==========================================================================
   $Navigation
   ========================================================================== */

.sg-nav {
    font-family: @font-styleguide;

    &.sg-nav--primary {
        background-color: @color-gray;
        box-shadow: inset 0 0 3px @color-gray-dark;
        max-height: 0;
        overflow: hidden;
        .transition(max-height 0.25s);

        &.is-open {
            max-height: 15em;
        }

        .sg-list {
            .clearfix();
            list-style: none;
            margin: 0.5em 0;
            padding: 0;

            li {
                margin-bottom: 1px;

                a {
                    color: @color-white;
                    display: block;
                    padding-top: 0.5em;
                    padding-right: 1em;
                    padding-bottom: 0.5em;
                    padding-left: 1em;
                    text-decoration: none;
                    text-transform: uppercase;
                    .transition(background-color 0.25s, border-color 0.25s, color 0.25s, top 0.25s;);

                    &:active {
                        position: relative;
                        top: 1px;
                    }

                    &:focus,
                    &:hover {
                        background-color: @color-black;
                        color: @color-white;
                    }
                }
            }
        }
    }
}

@media all and (min-width: @bp-small) {

    .sg-nav {

        &.sg-nav--primary {
            background-color: @color-white-dark;
            box-shadow: none;
            max-height: 100%;
            padding-left: 0;
            padding-right: 2em;

            .sg-list {
                margin-top: 0;
                margin-bottom: 0;

                li {
                    float: left;
                    margin-right: 1em;

                    &:last-child {
                        margin-right: 0;
                    }

                    &.is-active {

                        a {
                            background-color: @color-black;
                            color: @color-white;

                            &:focus,
                            &:hover {
                                color: @color-white;
                            }
                        }
                    }

                    a {
                        border: 1px transparent solid;
                        border-radius: 1px;
                        color: @color-black;
                        padding: 0.125em 0.5em;

                        &:focus,
                        &:hover {
                            border-color: @color-black;
                        }
                    }
                }
            }
        }
    }
}





/* ==========================================================================
   $Main
   ========================================================================== */

.sg-main {
    padding-right: 1em;
    padding-left: 1em;

    &.sg-main--full {
        width: 100%;
    }
}

@media all and (min-width: @bp-large) {

    .sg-main {
        float: right;
        padding-right: 2em;
        padding-left: 2em;
        width: 75%;
    }
}





/* ==========================================================================
   $Sections
   ========================================================================== */

.sg-sections {
    .clearfix();
}

@media all and (min-width: @bp-medium) {

    .sg-sections {
        margin-right: -1%;
        margin-left: -1%;

        .sg-section {
            float: left;
            margin-right: 1%;
            margin-left: 1%;
            width: 18%;
        }
    }
}

@media all and (min-width: @bp-medium) {

    .sg-sections {

        .sg-section {
            min-height: 25em;
            position: relative;

            .sg-btn {
                bottom: 1em;
                left: 1em;
                position: absolute;

                &:active {
                    bottom: 15px;
                    position: absolute;
                    top: inherit;
                }
            }
        }
    }
}

@media all and (min-width: @bp-xl) {

    .sg-sections {

        .sg-section {
            min-height: 22em;
        }
    }
}

@media all and (min-width: @bp-xxl) {

    .sg-sections {

        .sg-section {
            min-height: 20em;
        }
    }
}

/**
 * Section
 */

.sg-section {
    .clearfix();
    margin-bottom: 2em;
    padding-top: 1em;
    width: 100%;

    &.is-hidden {
        display: none;
        visibility: hidden;
    }

    &.sg-section--bordered {
        background-color: @color-white-dark;
        border: 1px solid @color-silver;
        border-radius: 1px;
        padding: 0.5em 0.75em 0.75em 0.75em;

        .sg-header--section {
            margin-bottom: 1em;
        }
    }

    &.sg-section--well {
        background-color: @color-white-dark;
        border: 1px solid @color-silver;
        border-radius: 1px;
        box-shadow: inset 0 0 10px @color-silver;
        padding: 1em;

        &:last-of-type {
            padding-bottom: 1em;
        }

        .sg-btn {
            border-color: @color-silver;

            &:focus,
            &:hover {
                border-color: @color-black;
            }
        }
    }
}

@media all and (min-width: @bp-small) {

    .sg-section {
        margin-bottom: 4em;
        padding-top: 2em;

        &:last-of-type {
            padding-bottom: 4em;
        }

        &.sg-section--block {

            &:last-of-type {
                padding-bottom: 0.75em;
            }
        }

        &.sg-section--intro {
            margin-bottom: 2.5em;

            &:last-of-type {
                padding-bottom: 0;
            }
        }
    }
}

@media all and (min-width: @bp-large) {

    .sg-section {

        &.sg-section--bordered {
            padding: 1em 1.5em 1.5em 1.5em;
        }
    }
}





/* ==========================================================================
   $Aside
   ========================================================================== */

.sg-aside {
    background-color: @color-white;
    padding-right: 1em;
    padding-left: 1em;

    .sg-btn--toggle {
        margin-bottom: 2px;
        width: 100%;
    }

    .sg-list {
        background-color: @color-white-dark;
        margin-bottom: 2em;

        li {
            border-bottom: 2px solid @color-white;

            a {
                color: @color-black;
                font-size: 0.875em; /* 14 / 16 */
                display: block;
                padding-top: 0.375em;
                padding-right: 0.75em;
                padding-bottom: 0.375em;
                padding-left: 0.75em;
                text-decoration: none;
                text-transform: uppercase;
                .transition(background-color 0.25s, color 0.25s;);

                &.is-active,
                &:focus,
                &:hover {
                    background-color: @color-black;
                    color: @color-white;
                }
            }
        }
    }
}

@media all and (min-width: @bp-large) {

    .sg-aside {
        left: 0;
        max-width: 20em; /* 320 / 16 */
        overflow-y: auto;
        padding-right: 2em;
        padding-left: 2em;
        position: absolute;
        top: 7.125em;
        .transition(top 0.5s);
        width: 25%;

        .sg-list {
            margin-bottom: 0;
        }

        &.is-fixed {
            height: 100%;
            padding-top: 2em;
            padding-bottom: 2em;
            position: fixed;
            top: 0;
        }
    }
}

@media all and (min-height: @bp-medium) {

    .sg-aside {

        &.is-fixed {
            padding-top: 0;
            padding-bottom: 0;
            top: 2em;
        }
    }
}





/* ==========================================================================
   $Footer
   ========================================================================== */

.sg-footer {
    clear: both;
    font-size: 0.875em; /* 14 / 16 */
    padding-right: 1em;
    padding-bottom: 1.1875em;
    padding-left: 1em;
    width: 100%;

    &.sg-footer--full {
        width: 100%;
    }

    .sg-list {
        border-top: 1px dotted @color-silver;
        margin-bottom: 0;
        padding-top: 1em;
    }
}

@media all and (min-width: @bp-large) {

    .sg-footer  {
        float: right;
        padding-right: 2em;
        padding-left: 2em;
        width: 75%;
    }
}





/* ==========================================================================
   $Example
   ========================================================================== */

.sg-example {
    .clearfix();

    &+ .sg-example {
        margin-top: 1em;
    }

    &+ .sg-list {
        margin-top: 2em;
    }

    &+ .sg-btn {
        margin-top: 2em;
    }
}

.sg-example-code {
    border-top: 1px dotted @color-silver;
    clear: both;
    .clearfix();
    margin-top: 2em;
    padding-top: 1em;
    width: 100%;

    .sg-btn {
        float: right;
        margin-bottom: 1em;
    }

    .sg-pre {
        clear: both;
        display: none;
        visibility: hidden;
        width: 100%;

        &.is-visible {
            display: block;
            margin-bottom: 1em;
            visibility: visible;
        }
    }
}





/* -------------------------------------------------------------------------- *\
   $GRID
\* -------------------------------------------------------------------------- */

.sg-col {
    background-color: @color-silver;

    .sg-code {
        background-color: @color-silver;
        color: @color-gray-dark;
        display: inline-block;
        margin-bottom: 0;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 0.75em;
    }
}





/* -------------------------------------------------------------------------- *\
   $PRISM
\* -------------------------------------------------------------------------- */

/* http://prismjs.com/download.html?themes=prism-okaidia&languages=markup+css+clike+javascript&plugins=line-numbers */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

code[class*="language-"],
pre[class*="language-"] {
    color: #f8f8f2;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    direction: ltr;
    line-height: 1.5;
    text-align: left;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    white-space: pre;
    word-break: normal;
    word-spacing: normal;

    -moz-tab-size: 4;
      -o-tab-size: 4;
         tab-size: 4;

    -webkit-hyphens: none;
       -moz-hyphens: none;
        -ms-hyphens: none;
            hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
    border-radius: 1px;
    margin: .5em 0;
    overflow: auto;
    padding: 1em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: #272822;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    border-radius: 1px;
    padding: .1em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: slategray;
}

.token.punctuation {
    color: #f8f8f2;
}

.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol {
    color: #f92672;
}

.token.boolean,
.token.number {
    color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin {
    color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
    color: #f8f8f2;
}

.token.atrule,
.token.attr-value {
    color: #e6db74;
}

.token.keyword {
    color: #66d9ef;
}

.token.regex,
.token.important {
    color: #fd971f;
}

.token.important {
    font-weight: bold;
}

.token.entity {
    cursor: help;
}

.token.deleted {
    color: red;
}

.token.inserted {
    color: green;
}

pre.line-numbers {
    counter-reset: linenumber;
    padding-left: 3.8em;
    position: relative;
}

pre.line-numbers > code {
    position: relative;
}

.line-numbers .line-numbers-rows {
    border-right: 1px solid #999;
    font-size: 100%;
    left: -3.8em;
    letter-spacing: -1px;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 3em; /* works for line-numbers below 1000 lines */

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

}

.line-numbers-rows > span {
    counter-increment: linenumber;
    display: block;
    pointer-events: none;
}

.line-numbers-rows > span:before {
    color: #999;
    content: counter(linenumber);
    display: block;
    padding-right: 0.8em;
    text-align: right;
}
