/* ==========================================================================
   $TABLE OF CONTENTS
   ========================================================================== */

/**
 * BASE
 * FONTS
 * ELEMENTS
 * .....HEADINGS
 * .....ANCHORS
 * .....TEXT
 * .....LISTS
 * .....TABLES
 * .....FIGURES
 * FEEDBACK
 * UTILITIES
 * LEGACY SUPPORT
 */





/* ==========================================================================
   $BASE
   ========================================================================== */

/**
 * Remove text-shadow in selection highlight: h5bp.com/i
 */

::-moz-selection {
    background: @colour-blue;
    color: @colour-white;
    text-shadow: none;
}

::selection {
    background: @colour-blue;
    color: @colour-white;
    text-shadow: none;
}

/**
 *  Default font colour, size and line height
 */

html {
    color: @colour-grey-dark;
    font: 100%/1.6 @ff-droid-sans;
}





/* ==========================================================================
   $FONTS
   ========================================================================== */

/**
 * Font Families
 */

/* Droid Sans */
.ff-droid-sans {
    font-family: @ff-droid-sans;
}

/* Droid Serif */
.ff-droid-serif {
    font-family: @ff-droid-serif;
}

/**
 * Font Weights
 */

/* Bold */
.fw-bold {
    font-weight: @fw-bold;
}

/* Semi-bold */
.fw-semi-bold {
    font-weight: @fw-semi-bold;
}

/* Normal */
.fw-normal {
    font-weight: @fw-normal;
}





/* -------------------------------------------------------------------------- *\
   $ELEMENTS
\* -------------------------------------------------------------------------- */

/* ==========================================================================
   $HEADINGS
   ========================================================================== */

/* Alpha */
h1, .alpha {
    font-size: 2.25em; /* 36 / 16 */
    line-height: 1.1;

    @media all and (min-width: @bp-largest) {
        font-size: 3.75em; /* 60 / 16 */
    }
}

/* Beta */
h2, .beta {
    font-size: 1.875em; /* 30 / 16 */
    line-height: 1.1;

    @media all and (min-width: @bp-largest) {
        font-size: 3em; /* 48 / 16 */
    }
}

/* Gamma */
h3, .gamma {
    font-size: 1.5em; /* 24 / 16 */
    line-height: 1.1;

    @media all and (min-width: @bp-largest) {
        font-size: 2.25em; /* 36 / 16 */
    }
}

/* Delta */
h4, .delta {
    font-size: 1.25em; /* 20 / 16 */
    line-height: 1.4;

    @media all and (min-width: @bp-largest) {
        font-size: 1.5em; /* 24 / 16 */
    }
}

/* Epsilon */
h5, .epsilon {
    font-size: 1.125em; /* 18 / 16 */
    line-height: 1.4;

    @media all and (min-width: @bp-largest) {
        font-size: 1.313em; /* 21 / 16 */
    }
}

/* Zeta */
h6, .zeta {
    font-size: 1em; /* 16 / 16 */
    line-height: 1.4;

    @media all and (min-width: @bp-largest) {
        font-size: 1.125em; /* 18 / 16 */
    }
}





/* ==========================================================================
   $ANCHORS
   ========================================================================== */

/* Headings with anchors */
h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {

    /* Anchor */
    a {
        color: inherit;
    }
}

/* Anchor */
a {
    .transition(color 0.25s);
}





/* ==========================================================================
   $TEXT
   ========================================================================== */

/**
 * Blockquotes
 */

.blockquote {

    /**
     * Citation
     */

    cite {

        /* Anchor */
        a {
            color: @colour-navy;
            text-decoration: underline;

            &:focus,
            &:hover {
                color: @colour-blue;
            }
        }
    }

    /**
     * Quote
     */

    p {
        font-style: italic;
    }
}

/**
 * Paragraphs
 */

p {
    font-size: 0.875em; /* 14 / 16 */

    @media all and (min-width: @bp-largest) {
        font-size: 1em; /* 16 / 16 */
    }

    /* Very Large */
    &.very-large {
        font-size: 1.25em; /* 20 / 16 */

        @media all and (min-width: @bp-largest) {
            font-size: 1.5em; /* 24 / 16 */
        }
    }

    /* Large */
    &.large {
        font-size: 1.125em; /* 18 / 16 */

        @media all and (min-width: @bp-largest) {
            font-size: 1.313em; /* 21 / 16 */
        }
    }

    /* Small */
    &.small {
        font-size: 0.75em; /* 12 / 16 */

        @media all and (min-width: @bp-largest) {
            font-size: 0.875em; /* 14 / 16 */
        }
    }

    /**
     * Anchor
     */

    a {
        color: @colour-navy;
        .transition(color 0.2s);

        &:focus,
        &:hover {
            color: @colour-blue;
        }
    }

    /**
     * Mark
     */

    mark {
        color: @colour-grey-dark;
    }
}





/* ==========================================================================
   $LISTS
   ========================================================================== */

/**
 * Breadcrumbs List
 */

.list-breadcrumbs {

    li {
        color: @colour-blue;
        font-size: 0.875em; /* 14 / 16 */

        @media all and (min-width: @bp-small) {
            font-size: 1em; /* 16 / 16 */
        }

        /* Separator */
        &+ li {

            &:before {
                color: @colour-silver;
            }
        }

        a {
            color: @colour-navy;
            text-decoration: none;

            &:focus,
            &:hover {
                color: @colour-blue;
                text-decoration: underline;
            }
        }
    }
}

/**
 * Description List
 */

dl {

    /* Term */
    dt {
        font-weight: @fw-bold;
    }
}

/**
 * Links List
 */

.list-links {

    li {

        a {
            color: @colour-navy;
            text-decoration: none;

            &:focus,
            &:hover {
                color: @colour-blue;
                text-decoration: underline;
            }
        }
    }
}

/**
 * Pagination List
 */

.list-pagination {

    li {

        /* Current */
        &.current {

            /* Anchor */
            a {
                color: @colour-white;
            }
        }

        /* Anchor */
        a {
            color: @colour-grey-dark;
            text-decoration: none;
            .transition(all 0.25s);

            &:focus,
            &:hover {
                color: @colour-white;
            }
        }
    }
}

/**
 * Posts List
 */

.list-posts {

    li {

        a {
            text-decoration: none;

            &:focus,
            &:hover {
                color: @colour-blue;
                text-decoration: underline;
            }
        }
    }
}





/* ==========================================================================
   $TABLES
   ========================================================================== */

/**
 * Default Table
 */

.table {

    /* Table Caption */
    caption {
        font-style: italic;
        text-align: left;
    }

    /* Table Header */
    thead {

        th {
            text-align: left;
            vertical-align: top;
        }
    }

    /* Table Body */
    tbody {

        td {
            vertical-align: top;
        }
    }

    /* Table Footer */
    tfoot {

        td {
            font-weight: @fw-bold;
        }
    }

    /**
     * Table with row hover
     */

    &.table-hover {

        tbody {

            tr {

                &:focus,
                &:hover {

                    td {
                        color: @colour-navy;
                    }
                }
            }
        }
    }

    /**
     * Table with alternate row background colour
     */

    &.table-striped {

        tbody {

            tr {

                &:nth-child(even) {

                    td {
                        color: @colour-grey;
                    }
                }
            }
        }
    }
}





/* ==========================================================================
   $BUTTONS
   ========================================================================== */

/**
 * Default Button
 */

.btn {
    color: @colour-grey-dark;
    line-height: 1.6;
    text-align: center;
    text-decoration: none;
    .transition(~"background-color 0.25s, border 0.25s");

    &:focus,
    &:hover {
        color: @colour-black;
    }

    /**
     * Alternative Button
     */

    &.btn-alt {
        color: @colour-grey-dark;

        &:focus,
        &:hover {
            color: @colour-grey-dark;
        }
    }

    /*
     * Disabled Button
     */

    &.btn-disabled {
        color: @colour-silver;

        &:focus,
        &:hover {
            color: @colour-silver;
        }
    }
}





/* ==========================================================================
   $FIGURES
   ========================================================================== */

figcaption {
    font-style: italic;
}





/* ==========================================================================
   $FEEDBACK
   ========================================================================== */

/**
 * Feedback
 */

.feedback {

    /* Heading */
    h6, .zeta {
        color: @colour-grey-dark;
    }

    /* Message */
    p {
        color: @colour-grey-dark;
    }

    /**
     * Success
     */
    &.feedback-success {

        /* Icon */
        .icon {

            &:after {
                color: @colour-green;
                content: "\f058";
            }
        }

        /* Anchor */
        a {
            color: @colour-green;
        }
    }

    /**
     * Information
     */
    &.feedback-info {

        /* Icon */
        .icon {

            &:after {
                color: @colour-blue;
                content: "\f05a";
            }
        }

        /* Anchor */
        a {
            color: @colour-blue;
        }
    }

    /**
     * Warning
     */
    &.feedback-warning {

        /* Icon */
        .icon {

            &:after {
                color: @colour-orange;
                content: "\f06a";
            }
        }

        /* Anchor */
        a {
            color: @colour-orange;
        }
    }

    /**
     * Error
     */
    &.feedback-error {

        /* Icon */
        .icon {

            &:after {
                color: @colour-red;
                content: "\f057";
            }
        }

        /* Anchor */
        a {
            color: @colour-red;
        }
    }
}





/* ==========================================================================
   $UTILITIES
   ========================================================================== */

/**
 * Text Transform
 */

/* Capitalize */
.tf-capitalize {
    text-transform: capitalize;
}

/* Uppercase */
.tf-uppercase {
    text-transform: uppercase;
}

/**
 * Text Align
 */

/* Left */
.ta-left {
    text-align: left;
}

/* Center */
.ta-center {
    text-align: center;
}

/* Right */
.ta-right {
    text-align: right;
}





/* ==========================================================================
   $LEGACY SUPPORT
   ========================================================================== */

/**
 * Browse Happy prompt to upgrade browser
 */

.browsehappy {
    color: @colour-grey-dark;

    a {
        color: @colour-blue;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}