/* -------------------------------------------------------------------------- *\
   $FORMS
\* -------------------------------------------------------------------------- */

.form {
    .clearfix();

    /**
     * Inline
     */

    &.form--inline {

        .label {

            &.label--checkbox {
                margin-bottom: 0.5em;
            }
        }

        .input {
            margin-bottom: 0.75em;
        }
    }

    /**
     * Search
     */

    &.form--search {
        position: relative;

        .input {
            margin-top: 0;
            padding-right: 2.75em;
        }

        .btn {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}

@media all and (min-width: @bp-small) {

    .form {

        &.form--inline {

            .label {
                clear: none;
                float: left;
                margin-right: 0.5em;
                width: auto;

                &.label--checkbox {
                    margin-bottom: 0;
                    padding-top: 0.5em;

                    .input {
                        float: none;
                        margin-right: 0.25em;
                    }
                }
            }

            .input {
                float: left;
                margin-top: 0;
                margin-right: 0.5em;
                margin-bottom: 0;
                width: auto;
            }

            .btn {
                float: left;
                margin-right: 0;
            }
        }
    }
}

@media all and (min-width: @bp-medium) {

    .form {

        &.form--search {

            .input {
                min-width: 20em; /* 320 / 16 */
            }
        }
    }
}





/* ==========================================================================
   $Fieldset
   ========================================================================== */

.fieldset {
    margin-bottom: 1em;

    .legend {
        color: @color-gray-dark;
        margin-bottom: 0.5em;
    }

    /**
     * Bordered
     */

    &.fieldset--bordered {
        border: 1px solid @color-silver;
        padding: 0.5em 1.25em 0 1.25em;

        .legend {
            padding-right: 0.5em;
            padding-left: 0.5em;
        }
    }
}





/* ==========================================================================
   $Label
   ========================================================================== */

.label {
    clear: both;
    color: @color-gray-dark;
    display: block;
    margin-bottom: 1.5em;
    width: 100%;

    &.label--disabled {
        color: @color-gray;
        cursor: not-allowed;
    }

    &.label--inline {
        clear: none;
        float: left;
        margin-right: 1.5em;
        width: auto;
    }

    &.has-error {
        color: @color-red;

        .input {
            border-color: @color-red;
        }
    }

    &.has-success {
        color: @color-green;

        .input {
            border-color: @color-green;
        }
    }

    &.has-warning {
        color: @color-orange;

        .input {
            border-color: @color-orange;
        }
    }
}





/* ==========================================================================
   $Input
   ========================================================================== */

input[type="date"],
input[type="email"],
input[type="file"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
select,
textarea {

    &.input {
        border: 1px solid @color-silver;
        border-radius: 0;
        color: @color-gray-dark;
        font-family: @font;
        height: 2.5em; /* 40 / 16 */
        margin-top: 0.375em;
        padding: 0.5625em 0.75em 0.5em 0.75em;
        .transition(border-color 0.25s);
        width: 100%;

        &:focus,
        &:hover {
            border-color: @color-gray-dark;
        }

        &[disabled="disabled"] {
            background-color: @color-white-dark;
            border-color: @color-white-dark;
            color: @color-gray;
            cursor: not-allowed;

            &:focus,
            &:hover {
                border-color: @color-white-dark;
            }
        }

        &[readonly="readonly"] {
            background-color: @color-white-dark;
            cursor: not-allowed;
        }
    }

    &.input--select {
        padding-top: 0.375em;
    }

    &.input--textarea {
        height: inherit;
        min-height: 6em;
    }

    &.placeholder {
        color: #aaa;
    }
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 0.375em;
}

/*
 * Remove the inner shadow that appears in text inputs on iOS/OSX
 */

input[type="date"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea {
    -webkit-appearance: none;
}





/* ==========================================================================
   $Help Text
   ========================================================================== */

.help-text {
    color: @color-gray;
    font-size: 0.875em; /* 14 / 16 */
    margin-top: -1.125em;
    margin-bottom: 1.5em;
    padding-left: 0.125em;

    &.help-text--right {
        padding-right: 0.125em;
        text-align: right;
    }
}




/* ==========================================================================
   $Toggle Password
   ========================================================================== */

.toggle-password {
    position: relative;

    .toggle {
        right: 0.4375em;
        top: 2.6125em;
    }
}

.toggle {
    background-color: @color-white-dark;
    border: 0;
    color: @color-gray;
    font-family: @font-secondary;
    font-size: 0.875em; /* 14 / 16 */
    font-weight: @weight-bold;
    height: 2em; /* 28 / 14 */
    padding: 0.1875em 0.5em 0.3125em 0.5em;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    .transition(color 0.25s);

    &:focus,
    &:hover {
        color: @color-gray-dark;
        outline: 0;
    }
}
