/* -------------------------------------------------------------------------- *\
   $LISTS
\* -------------------------------------------------------------------------- */

/**
 * The Description List encloses a list of pairs of terms and descriptions.
 * Common uses for this element are to implement a glossary or to display metadata (a list of key-value pairs), as per:
 * https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dl
 *
 * E.g.:
 *
   <dl>
       <dt>Firefox</dt>
       <dd>A free, open source, cross-platform, graphical web browser developed
           by the Mozilla Corporation and hundreds of volunteers.</dd>

       <!-- Other terms and definitions -->
   </dl>
 *
 */

dl,
.dl {

    dt {
        font-weight: @weight-bold;
    }

    dd {
        margin-left: 0;
    }
}

/**
 * Custom Lists
 */

.list {
    margin-top: 0;
    margin-bottom: 1em;
    list-style: none;
    padding-left: 0;

    /**
     * Inline
     */

    &.list--inline {
        .clearfix();

        li {
            float: left;
        }
    }
}