/* -------------------------------------------------------------------------- *\
   $TABLES
\* -------------------------------------------------------------------------- */

.table {
    border: 1px solid @color-silver;
    margin-bottom: 1em;
    width: 100%;

    /**
     * Caption
     */

    .table__caption {
        margin-bottom: 1em;
        text-align: left;
    }

    th {
        background-color: @color-white;
        border-right: 1px solid @color-silver;
        border-bottom: 2px solid @color-gray;
        padding: 0.5em 1em;
        text-align: left;
    }

    tbody {

        tr {

            &:nth-child(odd) {
                background-color: @color-white-dark;
            }
        }
    }

    td {
        border-right: 1px solid @color-silver;
        border-bottom: 1px solid @color-silver;
        padding: 0.5em 1em;
    }

    tfoot {
        font-style: italic;
        text-align: left;

        tr {

            &:nth-child(odd) {
                background-color: inherit;
            }
        }

        a {
            color: @color-gray-dark;
            text-decoration: underline;
            .transition(color 0.25s);

            &:focus,
            &:hover {
                color: @color-blue;
            }
        }
    }
}
