/* -------------------------------------------------------------------------- *\
   $TABLES
\* -------------------------------------------------------------------------- */

.table {
    margin-bottom: 1em;
    width: 100%;

    .table__caption {
        margin-bottom: 1em;
        text-align: left;
    }

    th {
        padding: 0.5em 1em;
        text-align: left;
    }

    td {
        padding: 0.5em 1em;
    }

    tfoot {
        font-style: italic;
        text-align: left;

        a {
            color: @color-gray-dark;
            text-decoration: underline;
            .transition(color 0.25s);

            &:focus,
            &:hover {
                color: @color-blue;
            }
        }
    }

    /**
     * Bordered
     */

    &.table--bordered {
        border: 1px solid @color-silver;

        th {
            border-right: 1px solid @color-silver;
            border-bottom: 1px solid @color-silver;
        }

        td {
            border-right: 1px solid @color-silver;
            border-bottom: 1px solid @color-silver;
            padding-left: 1em;
        }
    }

    /**
     * Striped
     */

    &.table--striped {

        tbody {

            tr {

                &:nth-child(odd) {
                    background-color: @color-white-dark;
                }
            }
        }
    }
}
