/**
 * MIXINS
 */

/* -------------------------------------------------------------------------- *\
   $TABLE OF CONTENTS
\* -------------------------------------------------------------------------- */

/**
 * BLOCKQUOTE
 * CLEARFIX
 * HORIZONTAL RULE
 * TRANSFORM
 * TRANSITION
 */





/* -------------------------------------------------------------------------- *\
   $BLOCKQUOTE
\* -------------------------------------------------------------------------- */

.blockquote() {
    border-left: 3px @color-gray solid;
    margin: 0 0 1em 1em;
    padding: 0 1em;

    p {
        quotes: "\201C""\201D""\2018""\2019";

        &:before {
            content: open-quote;
        }

        &:after {
            content: close-quote;
        }
    }

    /**
     * Cite
     */

    cite {

        a {
            color: @color-gray-dark;

            &:focus,
            &:hover {
                color: @color-black;
            }
        }
    }
}





/* -------------------------------------------------------------------------- *\
   $CLEARFIX
\* -------------------------------------------------------------------------- */

/**
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix() {
    &:before,
    &:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }

    &:after {
        clear: both;
    }
}





/* -------------------------------------------------------------------------- *\
   $HORIZONTAL RULE
\* -------------------------------------------------------------------------- */

.hr() {
    border: 0;
    border-top: 3px solid @color-gray;
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
}





/* -------------------------------------------------------------------------- *\
   $TRANSFORM
\* -------------------------------------------------------------------------- */

/**
 * Example Usage: .transform(rotateX(90deg));
 */

.transform(@function) {
    -webkit-transform: @function;
       -moz-transform: @function;
         -o-transform: @function;
            transform: @function;
}





/* -------------------------------------------------------------------------- *\
   $TRANSITION
\* -------------------------------------------------------------------------- */

/**
 * Example Usage: .transition(color 0.25s, opacity 0.25s;);
 */

.transition(@transition) {
    -webkit-transition: @transition;
       -moz-transition: @transition;
         -o-transition: @transition;
            transition: @transition;
}
