/* -------------------------------------------------------------------------- *\
   #COLOR
\* -------------------------------------------------------------------------- */

.sg-color {
    padding: 1em;

    /* Value */

    .sg-color__value {
        color: $sg-color-black;

        &.sg-color__value--light {
            color: $sg-color-white-dark;
        }
    }
}
