/* -------------------------------------------------------------------------- *\
   #EXAMPLE
\* -------------------------------------------------------------------------- */

.sg-example {
    @include sg-clearfix();
    padding: 1em;
    position: relative;

    & + .sg-example {
        margin-top: 1em;
    }
}
