/* -------------------------------------------------------------------------- *\
   #HEADER
\* -------------------------------------------------------------------------- */

.sg-header {
    position: relative;

    /* Anchor */

    .sg-anchor {
        display: none;
    }

    /* List */

    .sg-list {
        color: $sg-color-gray-dark;
        font-family: $sg-font-secondary;
        font-size: 0.875em; /* 14 / 16 */

        li {
            margin-bottom: 0.5em;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    /**
     * Main
     */

    &.sg-header--main {
        border-bottom: 0.125em solid $sg-color-white-dark;
        margin-bottom: 2em;
        padding-bottom: 1em;

        .sg-h1 {
            margin-bottom: 1rem;
        }
    }

    /**
     * Section
     */

    &.sg-header--section {
        padding-top: 2em;

        .sg-h2 {
            text-transform: none;
        }

        & + .sg-header--subsection {
            margin-top: -4em;
        }
    }

    /**
     * Subsection
     */

    &.sg-header--subsection {
        padding-top: 4em;

        .sg-h4 {
            color: $sg-color-gray;
        }
    }
}

@media all and (min-width: $sg-bp-xs) {

    .sg-header {

        .sg-list {
            @include sg-clearfix();

            li {
                float: left;
                margin-bottom: 0;
                margin-left: 1em;

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}

@media all and (min-width: $sg-bp-medium) {

    .sg-header {

        &:focus,
        &:hover {

            .sg-anchor {
                opacity: 1;
            }
        }

        .sg-anchor {
            bottom: 0;
            color: $sg-color-silver;
            display: block;
            left: -1em;
            opacity: 0;
            padding-right: 0.25em;
            padding-left: 0.25em;
            position: absolute;
            text-decoration: none;
            transition: color 0.25s, opacity 0.25s;

            &:focus,
            &:hover {
                color: $sg-color-gray-dark;
            }
        }

        &.sg-header--main {
            @include sg-clearfix();

            .sg-h1 {
                float: left;
                margin-bottom: 0;
            }

            .sg-list {
                float: right;
                margin-top: 0.875em;
            }
        }

        &.sg-header--section {
            padding-top: 4em;

            & + .sg-header--subsection {
                margin-top: -4em;
            }
        }
    }
}
