/* -------------------------------------------------------------------------- *\
   #HEADER
\* -------------------------------------------------------------------------- */

.sg-header {
    border-bottom: 0.125em solid $sg-color-white-dark;
    margin-bottom: 1em;
    padding-bottom: 1em;

    /**
     * Heading
     */

    .hN {
        letter-spacing: 0.125em;
        margin-bottom: 0;
        text-transform: uppercase;
    }
}

@media all and (min-width: $sg-bp-medium) {

    .sg-header {
        border-bottom-width: 0.25em;
        margin-bottom: 2em;
    }
}
