/**
 * ICON
 */

/* -------------------------------------------------------------------------- *\
   #TABLE OF CONTENTS
\* -------------------------------------------------------------------------- */

/**
 * ICON
 * ICONS
 */





/* -------------------------------------------------------------------------- *\
   #ICON
\* -------------------------------------------------------------------------- */

.sg-icon {
    font-size: 1.5em; /* 24 / 16 */
}





/* -------------------------------------------------------------------------- *\
   #ICONS
\* -------------------------------------------------------------------------- */

.sg-icons {
    @include sg-clearfix();

    .sg-icon {
        float: left;
        margin-right: 1rem;
    }
}

@media all and (min-width: $sg-bp-medium) {

    .sg-icons {

        .sg-icon {
            float: none;
            margin-right: 0;
        }
    }
}
