/**
 * LAYOUT
 */

/* -------------------------------------------------------------------------- *\
   #TABLE OF CONTENTS
\* -------------------------------------------------------------------------- */

/**
 * ASIDE
 * MAIN
 * SECTION
 */





/* -------------------------------------------------------------------------- *\
   #ASIDE
\* -------------------------------------------------------------------------- */

.sg-l-aside {
    background-color: $sg-color-white;
}

@media all and (min-width: $sg-bp-medium) {

    .sg-l-aside {
        box-shadow: 0 0.5em 0.5em $sg-color-silver;
        height: 100%;
        left: 0;
        overflow-y: auto;
        padding: 1em;
        position: fixed;
        top: 0;
        width: 16.25em; /* 280 / 16 */
    }
}





/* -------------------------------------------------------------------------- *\
   #MAIN
\* -------------------------------------------------------------------------- */

.sg-l-main {
    background-color: $sg-color-white;
    padding: 2em 1em;
}

@media all and (min-width: $sg-bp-xs) {

    .sg-l-main {
        padding-right: 2em;
        padding-left: 2em;
    }
}

@media all and (min-width: $sg-bp-medium) {

    .sg-l-main {
        margin-top: 2em;
        margin-bottom: 2em;
        margin-left: 18.25em;
        padding-bottom: 0;
        width: calc(100% - 20.25em);
    }
}

@media all and (min-width: $sg-bp-large) {

    .sg-l-main {
        margin-top: 4em;
        margin-bottom: 4em;
        margin-left: 20.25em;
        padding-top: 4em;
        padding-right: 4em;
        padding-left: 4em;
        width: calc(100% - 24.25em);
    }
}





/* -------------------------------------------------------------------------- *\
   #SECTION
\* -------------------------------------------------------------------------- */

.sg-l-section {
    padding-bottom: 2em;
}

@media all and (min-width: $sg-bp-large) {

    .sg-l-section {
        padding-bottom: 4em;
    }
}
