/* -------------------------------------------------------------------------- *\
   #NAVIGATION
\* -------------------------------------------------------------------------- */

.sg-nav {
    padding: 1em;

    /**
     * Logo
     */
    
    .sg-nav__logo {
        display: block;
        margin-bottom: 1em;
        
        img {
            display: block;
        }
    }

    /**
     * List
     */

    .sg-nav__list {
        @include sg-list();

        .sg-nav__list {
            margin-top: 1.5rem;
            margin-left: 1em;
        }

        /**
         * Item
         */

        .sg-nav__item {
            font-family: $sg-font-secondary;
            font-weight: $sg-weight-bold;
            letter-spacing: 0.125em;
            margin-bottom: 1.5rem;
            text-transform: uppercase;

            .sg-nav__item {
                font-size: 0.875em; /* 14 / 16 */
                font-weight: $sg-weight-normal;
                margin-bottom: 1rem;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .is-active {

            > .sg-nav__link {
                border-bottom-color: $sg-color-secondary;
            }
        }
    }

    /**
     * Link
     */

    .sg-nav__link {
        border-bottom: 0.125em solid transparent;
        color: $sg-color-secondary;
        padding-bottom: 0.125em;
        text-decoration: none;
        transition: border-color 0.25s;

        &:focus,
        &:hover {
            border-bottom-color: $sg-color-secondary;
        }
    }
}

@media all and (min-width: $sg-bp-medium) {

    .sg-nav {

        .sg-nav__logo {
            margin-bottom: 2em;
        }
    }
}
