/* -------------------------------------------------------------------------- *\
   $BUTTONS
\* -------------------------------------------------------------------------- */

.btn {
    background-color: @color-black;
    border: 1px solid transparent;
    color: @color-white;
    display: inline-block;
    font-family: @font-secondary;
    font-size: 1em;
    font-weight: @weight-bold;
    height: 2.5em; /* 40 / 16 */
    line-height: normal;
    padding: 0.625em 1em 0.5em 1em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    .transition(background-color 0.25s, border-color 0.25s, color 0.25s, top 0.25s;);
    vertical-align: middle;
    white-space: nowrap;

    /**
     * Silver
     */

    &.btn--silver {
        background-color: @color-gray-dark;

        &.is-active,
        &:focus,
        &:hover {
            background-color: @color-white;
            border-color: @color-silver;
            color: @color-black;
        }
    }

    &[disabled="disabled"] {

        &:active {
            top: 0;
        }

        &.is-active,
        &:focus,
        &:hover {
            background-color: @color-black;
            border-color: @color-silver;
            color: @color-white;
        }
    }

    &:active {
        position: relative;
        top: 1px;
    }

    &.is-active,
    &:focus,
    &:hover {
        background-color: @color-white;
        border-color: @color-silver;
        color: @color-black;
        outline: none;
    }

    /**
     * Small
     */

    &.btn--small {
        font-size: 0.875em; /* 14 / 16 */
        height: 2.286em; /* 32 / 14 */
        padding: 0.5em 0.75em;

        &.is-active,
        &:focus,
        &:hover {
            outline: none;
        }
    }

    /**
     * Text
     */

    &.btn--text {
        background-color: @color-white;
        background-color: transparent;
        border-color: @color-white-dark;
        color: @color-gray;

        &:focus,
        &:hover {
            border-color: @color-silver;
            color: @color-gray-dark;
        }

        &.is-loading {

            .icon {

                &:before {
                    content: "\f021";
                }
            }
        }
    }

    /**
     * Icon
     */

    &.btn--icon {

        .icon {
            margin-left: 0;
        }
    }

    .icon {
        font-size: 0.875em; /* 14 / 16 */
        margin-left: 0.75em;

        &.icon--first {
            margin-right: 0.75em;
            margin-left: 0;
        }

        &.icon--weather {
            font-size: 1.125em; /* 18 / 16 */
        }
    }
}





/* ==========================================================================
   $Group
   ========================================================================== */

.btn-group {
    .clearfix();
    width: 100%;

    &.btn-group--left {

        .btn {
            float: left;
            margin-right: 0.5em;
            margin-left: 0;
        }
    }

    .btn {
        float: right;
        margin-left: 0.5em;
    }
}