/* -------------------------------------------------------------------------- *\
   $NAVIGATION
\* -------------------------------------------------------------------------- */

.nav {
    width: 100%;

    .list {
        .clearfix();
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;
        white-space: nowrap;

        li {
            display: inline-block;
        }
    }

    a {
        display: block;
        font-weight: @weight-bold;
        text-decoration: none;
    }

    /**
     * Primary
     */

    &.nav--primary {

        .list {

            li {
                margin-right: 1.25em;

                &:last-child {
                    margin-right: 0;
                }

                &.is-active {

                    a {
                        color: @color-black;
                    }
                }
            }
        }

        a {
            color: @color-gray-dark;
            font-size: 1.125em; /* 18 / 16 */

            &:focus,
            &:hover {
                color: @color-black;
            }
        }
    }

    /**
     * Vertical
     */

    &.nav--vertical {
        margin-bottom: 1em;

        .list {

            li {
                border-bottom: 2px solid @color-white;
                display: block;
                margin-right: 0;

                &:last-child {
                    border-bottom: 0;
                }

                &.is-active {

                    a {
                        color: @color-black;
                    }
                }
            }
        }

        a {
            background-color: @color-white-dark;
            color: @color-gray-dark;
            padding: 1em 1.3125em;
            .transition(background-color 0.25s);

            &:focus,
            &:hover {
                background-color: @color-silver;
                color: @color-black;
            }
        }
    }
}

@media all and (min-width: @bp-xs) {

    .nav {

        &.nav--vertical {
            max-width: 20em; /* 320 / 16 */
        }
    }
}