/**
 * STYLEGUIDE
 */

/* -------------------------------------------------------------------------- *\
   $TABLE OF CONTENTS
\* -------------------------------------------------------------------------- */

/**
 * IMPORTS
 * VARIABLES
 * .....Font
 * ELEMENTS
 * .....Buttons
 * .....Code
 * .....Headings
 * .....Icons
 * .....Lists
 * .....Paragraph
 * CONTAINERS
 * .....HTML
 * .....Wrapper
 * .....Headers
 * .....Navigation
 * .....Main
 * .....Sections
 * .....Footer
 * .....Example
 * GRID
 * PRISM
 */





/* -------------------------------------------------------------------------- *\
   $IMPORTS
\* -------------------------------------------------------------------------- */

@import "generic/mixins";
@import "generic/variables";





/* -------------------------------------------------------------------------- *\
   $VARIABLES
\* -------------------------------------------------------------------------- */

/* ==========================================================================
   $Font
   ========================================================================== */

@font-styleguide: "Source Sans Pro", sans-serif;





/* -------------------------------------------------------------------------- *\
   $ELEMENTS
\* -------------------------------------------------------------------------- */

/* ==========================================================================
   $Buttons
   ========================================================================== */

.sg-btn {
    background-color: @color-silver;
    border: 0;
    color: @color-black;
    display: inline-block;
    font-family: @font-styleguide;
    font-weight: bold;
    line-height: normal;
    padding: 0.5em 0.75em 0.5625em 0.75em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    .transition(background-color 0.25s, color 0.25s, top 0.25s;);

    &:active {
        position: relative;
        top: 1px;
    }

    &.is-active,
    &:focus,
    &:hover {
        background-color: @color-black;
        color: @color-white;
        outline: none;
    }

    &.sg-btn--nav {
        background-color: @color-white;
        font-size: 1.125em; /* 18 / 16 */
        padding: 0.125em 0.5em;

        &.is-active,
        &:focus,
        &:hover {
            background-color: @color-black;
            color: @color-white;
        }
    }

    .icon {
        font-size: 0.875em; /* 14 / 16 */
        margin-left: 0.75em;

        &.icon--left {
            margin-right: 0.75em;
            margin-left: 0;
        }
    }
}

@media all and (min-width: @bp-small) {

    .sg-btn {

        &.sg-btn--nav {
            display: none;
        }
    }
}





/* ==========================================================================
   $Code
   ========================================================================== */

.sg-code {
    background-color: @color-white-dark;
    display: inline-block;
    font-size: 0.875em; /* 14 / 16 */
    margin-bottom: 1em;
    padding: 0.25em 0.5em;
}





/* ==========================================================================
   $Headings
   ========================================================================== */

.sg-heading {
    clear: both;
    color: @color-black;
    font-family: @font-styleguide;
    text-transform: uppercase;
    width: 100%;

    &.sg-heading--spacer {
        color: @color-gray-dark;
        font-size: @h5-font-size;
        margin-top: 2em;
        text-transform: capitalize;
    }
}





/* ==========================================================================
   $Lists
   ========================================================================== */

.sg-list {
    font-family: @font-styleguide;
    list-style: none;
    margin-top: 0;
    padding-left: 0;

    &.sg-list--colors {
        .clearfix();
        margin-left: -1em;
        padding-left: 1em;

        li {
            box-shadow: 0 0 20px @color-silver;
            border: 1px solid @color-silver;
            height: 9em;
            margin-bottom: 1em;
            position: relative;
            width: 100%;

            &:focus,
            &:hover {

                .sg-code {
                    max-height: 5.25em;
                }
            }

            .sg-code {
                background-color: @color-white;
                bottom: 0;
                left: 0;
                margin-bottom: 0;
                max-height: 2.625em;
                overflow: hidden;
                padding: 0.5em 0 0.625em;
                position: absolute;
                text-align: center;
                .transition(max-height 0.25s);
                width: 100%;

                .sg-code__value {
                    color: @color-black;
                    display: block;

                    &+ .sg-code__value {
                        color: @color-gray-dark;
                        padding-top: 0.5em;
                    }
                }
            }
        }
    }

    &.sg-list--icons {

        li {
            padding-bottom: 3em;

            .icon {
                float: left;
                font-size: 1.625em; /* 26 / 16 */
                text-align: center;
                width: 1.25em;
            }

            .sg-code {
                margin-left: 1em;
            }
        }
    }

    &.sg-list--templates {
        counter-reset: section;
        padding-left: 0.5em;

        li {
            color: @color-gray;
            font-size: 1.125em; /* 18 / 16 */

            &:before {
                color: @color-gray;
                content: counters(section, ".") ". ";
                counter-increment: section;
                font-weight: @weight-bold;
                padding-right: 0.25em;
            }
        }

        .sg-list {
            counter-reset: section;
            padding-left: 1em;

            li {
                font-size: 1em;

                &:before {
                    counter-increment: section;
                    content: counters(section, ".") ". ";
                }
            }
        }

        a {
            color: @color-gray-dark;
            text-decoration: none;

            &:focus,
            &:hover {
                color: @color-black;
                text-decoration: underline;
            }
        }
    }
}

@media all and (min-width: @bp-xs) {

    .sg-list {

        &.sg-list--colors {
            padding-left: 0;

            li {
                float: left;
                margin-left: 1em;
                padding-bottom: 2em;
                width: 9em;
            }
        }

        &.sg-list--icons {
            .clearfix();
            margin-bottom: -2em;

            li {
                float: left;
                width: 33%;
            }
        }
    }
}





/* ==========================================================================
   $Paragraphs
   ========================================================================== */

.sg-paragraph {
    color: @color-black;
    font-family: @font-styleguide;
    font-size: 1em;
    margin: 0;

    &.sg-paragraph--intro {
        font-size: 1.125em; /* 18 / 16 */
    }

    &+ .sg-paragraph {
        margin-top: 1em;
    }

    &+ .sg-list {
        margin-top: 2em;
    }

    &+ .sg-btn {
        margin-top: 2em;
    }

    .sg-anchor {
        background: linear-gradient(to bottom, @color-gray-dark, @color-gray-dark) repeat-x 0 21px;
        background-size: 1px 1px;
        color: @color-gray-dark;
        text-decoration: none;
        text-shadow: 2px 1px @color-white, -2px 1px @color-white;

        &:focus,
        &:hover {
            color: @color-black;
        }
    }

    .sg-icon {
        margin-right: 0.5em;
    }
}





/* -------------------------------------------------------------------------- *\
   $CONTAINERS
\* -------------------------------------------------------------------------- */

/* ==========================================================================
   $HTML
   ========================================================================== */

.sg-html {
    background: @color-white;
}





/* ==========================================================================
   $Wrapper
   ========================================================================== */

.sg-wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 71.25em; /* 1140 / 16 */
    width: 90%;
}

/* ==========================================================================
   $Headers
   ========================================================================== */

.sg-header {
    width: 100%;

    &.sg-header--primary {
        background-color: @color-white;
        border-bottom: 1px solid @color-silver;
        box-shadow: 0 0 20px @color-silver;
        .clearfix();
        position: relative;
        z-index: 2;

        .logo {
            display: block;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            width: 6.25em; /* 100 / 16 */

            img {
                height: auto;
                max-width: 100%;
            }
        }

        .sg-btn--nav {
            position: absolute;
            right: 5%;
            top: 0.8125em;
        }
    }

    &.sg-header--main {
        margin-bottom: 1.125em;
        text-transform: uppercase;

        .hN {
            display: inline-block;
            font-family: @font-styleguide;
            font-size: @h3-font-size;
            margin-bottom: 0;
            padding-right: 7.5%;
            padding-left: 7.5%;
        }
    }

    &.sg-header--section {
        border-bottom: 1px solid @color-silver;
        margin-bottom: 2em;
        padding-bottom: 0.25em;
        text-transform: uppercase;
        white-space: nowrap;

        .hN {
            font-family: @font-styleguide;
            font-size: @h5-font-size;
            margin-bottom: 0;
        }

        a {
            color: @color-gray;
            font-size: 0.875em; /* 14 / 16 */
            .transition(color 0.25s);

            &:focus,
            &:hover {
                color: @color-black;
            }
        }
    }

    .icon {
        margin-right: 0.5em;
    }
}

@media all and (min-width: @bp-small) {

    .sg-header {

        &.sg-header--primary {

            .logo {
                float: left;
            }

            .sg-nav {
                float: right;
            }
        }
    }
}

@media all and (min-width: @bp-large) {

    .sg-header {

        &.sg-header--primary {
            left: 0;
            position: fixed;
            top: 0;
            width: 100%;
        }
    }
}





/* ==========================================================================
   $Navigation
   ========================================================================== */

.sg-nav {

    &.sg-nav--primary {
        max-height: 0;
        overflow: hidden;
        .transition(max-height 0.25s);

        &.is-open {
            max-height: 15em;
        }

        .sg-list {
            .clearfix();
            list-style: none;
            margin: 0 0 0.5em 0;
            padding: 0;

            li {

                &.is-active {

                    a {
                        background-color: @color-black;
                        color: @color-white;

                        &:focus,
                        &:hover {
                            background-color: @color-black;
                            color: @color-white;
                        }
                    }
                }

                a {
                    color: @color-black;
                    display: block;
                    font-weight: @weight-bold;
                    padding: 0.5em 0.625em;
                    text-decoration: none;
                    text-transform: uppercase;
                    .transition(background-color 0.25s, color 0.25s, top 0.25s;);

                    &:focus,
                    &:hover {
                        background-color: @color-black;
                        color: @color-white;
                    }
                }
            }
        }
    }
}

@media all and (min-width: @bp-small) {

    .sg-nav {

        &.sg-nav--primary {
            max-height: 100%;

            .sg-list {
                margin-bottom: 0;

                li {
                    float: left;

                    a {
                        color: @color-black;
                        padding: 1.0625em 1em;

                        &:active {
                            top: 0;
                        }
                    }
                }
            }
        }
    }
}





/* ==========================================================================
   $Main
   ========================================================================== */

@media all and (min-width: @bp-large) {

    .sg-main {
        margin-top: 7.25em;
    }
}





/* ==========================================================================
   $Sections
   ========================================================================== */

.sg-sections {
    .clearfix();
}

@media all and (min-width: @bp-medium) {

    .sg-sections {
        display: flex;
        margin-right: -1em;
        margin-left: -1em;

        .sg-section {
            margin-right: 1em;
            margin-left: 1em;
        }
    }
}

/**
 * Section
 */

.sg-section {
    .clearfix();
    margin-bottom: 3em;
    padding-top: 2em;
    width: 100%;

    &.is-hidden {
        display: none;
        visibility: hidden;
    }

    &.sg-section--block {
        background-color: @color-white-dark;
        border: 1px solid @color-silver;
        box-shadow: 0 0 20px @color-silver;
        margin-bottom: 2.5625em;
        padding: 1em 1.5em 1.5em 1.5em;
        text-align: center;

        .sg-header--section {
            border-bottom: 0;
            margin-bottom: 0.5em;
        }
    }

    &.sg-section--intro {
        margin-right: auto;
        margin-left: auto;
        max-width: 60em; /* 960 / 16 */
        text-align: center;
    }
}

@media all and (min-width: @bp-small) {

    .sg-section {
        margin-bottom: 4em;
        padding-top: 2.5625em;

        &.sg-section--intro {
            padding-top: 4em;
            margin-bottom: 4em;
        }
    }
}





/* ==========================================================================
   $Footer
   ========================================================================== */

.sg-footer {
    clear: both;
    padding-bottom: 2.5em;

    .sg-list {
        margin-bottom: 0;
        padding-top: 1em;

        li {
            font-size: 0.875em; /* 14 / 16 */
        }
    }
}





/* ==========================================================================
   $Example
   ========================================================================== */

.sg-example {
    .clearfix();

    &+ .sg-example {
        margin-top: 1em;
    }

    &+ .sg-list {
        margin-top: 2em;
    }

    &+ .sg-btn {
        margin-top: 2em;
    }
}

.sg-example-code {
    display: none;
    visibility: hidden;
}

@media all and (min-width: @bp-large) {

    .sg-example-code {
        clear: both;
        display: block;
        visibility: visible;
        .clearfix();
        margin-top: 2em;
        margin-bottom: 4em;
        width: 100%;

        .sg-btn {
            font-size: 0.875em; /* 14 / 16 */
            margin-bottom: 1em;

            &:focus,
            &:hover {
                background-color: @color-black;
            }
        }

        .sg-pre {
            clear: both;
            display: none;
            font-size: 0.875em; /* 14 / 16 */
            visibility: hidden;
            width: 100%;

            &.is-visible {
                display: block;
                margin-bottom: 1em;
                visibility: visible;
            }
        }
    }
}



/* -------------------------------------------------------------------------- *\
   $GRID
\* -------------------------------------------------------------------------- */

.sg-row {
    background-color: @color-white-dark;
}

.sg-col {
    background-color: @color-gray-dark;

    .sg-code {
        background-color: @color-gray-dark;
        color: @color-white;
        display: inline-block;
        margin-bottom: 0;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 0.75em;
    }
}





/* -------------------------------------------------------------------------- *\
   $PRISM
\* -------------------------------------------------------------------------- */

/* http://prismjs.com/download.html?themes=prism-okaidia&languages=markup+css+clike+javascript&plugins=line-numbers */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

code[class*="language-"],
pre[class*="language-"] {
    color: #f8f8f2;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    direction: ltr;
    line-height: 1.5;
    text-align: left;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    white-space: pre;
    word-break: normal;
    word-spacing: normal;

    -moz-tab-size: 4;
      -o-tab-size: 4;
         tab-size: 4;

    -webkit-hyphens: none;
       -moz-hyphens: none;
        -ms-hyphens: none;
            hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
    margin: .5em 0;
    overflow: auto;
    padding: 1em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: #272822;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: .1em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: slategray;
}

.token.punctuation {
    color: #f8f8f2;
}

.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol {
    color: #f92672;
}

.token.boolean,
.token.number {
    color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin {
    color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
    color: #f8f8f2;
}

.token.atrule,
.token.attr-value {
    color: #e6db74;
}

.token.keyword {
    color: #66d9ef;
}

.token.regex,
.token.important {
    color: #fd971f;
}

.token.important {
    font-weight: bold;
}

.token.entity {
    cursor: help;
}

.token.deleted {
    color: red;
}

.token.inserted {
    color: green;
}

pre.line-numbers {
    counter-reset: linenumber;
    padding-left: 3.8em;
    position: relative;
}

pre.line-numbers > code {
    position: relative;
}

.line-numbers .line-numbers-rows {
    border-right: 1px solid #999;
    font-size: 100%;
    left: -3.8em;
    letter-spacing: -1px;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 3em; /* works for line-numbers below 1000 lines */

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

}

.line-numbers-rows > span {
    counter-increment: linenumber;
    display: block;
    pointer-events: none;
}

.line-numbers-rows > span:before {
    color: #999;
    content: counter(linenumber);
    display: block;
    padding-right: 0.8em;
    text-align: right;
}
