/* ==========================================================================
   $TABLE OF CONTENTS
   ========================================================================== */

/**
 * COLOURS
 * .....BACKGROUND
 * .....FOREGROUND
 */





/* -------------------------------------------------------------------------- *\
   $COLOURS
\* -------------------------------------------------------------------------- */

/* ==========================================================================
   $BACKGROUND COLOURS
   ========================================================================== */

.sg-bg-colour-black {
    background-color: @colour-sg-black;
}

.sg-bg-colour-grey-dark {
    background-color: @colour-sg-grey-dark;
}

.sg-bg-colour-grey {
    background-color: @colour-sg-grey;
}

.sg-bg-colour-grey-light {
    background-color: @colour-sg-grey-light;
}

.sg-bg-colour-silver {
    background-color: @colour-sg-silver;
}

.sg-bg-colour-white-dark {
    background-color: @colour-sg-white-dark;
}

.sg-bg-colour-white {
    background-color: @colour-sg-white;
}

.sg-bg-colour-blue-dark {
    background-color: @colour-sg-blue-dark;
}

.sg-bg-colour-blue {
    background-color: @colour-sg-blue;
}





/* ==========================================================================
   $FOREGROUND COLOURS
   ========================================================================== */

.sg-black {
    color: @colour-sg-black;
}

.sg-grey-dark {
    color: @colour-sg-grey-dark;
}

.sg-grey {
    color: @colour-sg-grey;
}

.sg-grey-light {
    color: @colour-sg-grey-light;
}

.sg-silver {
    color: @colour-sg-silver;
}

.sg-white-dark {
    color: @colour-sg-white-dark;
}

.sg-white {
    color: @colour-sg-white;
}

.sg-blue-dark {
    color: @colour-sg-blue-dark;
}

.sg-blue {
    color: @colour-sg-blue;
}