/* -------------------------------------------------------------------------- *\
   $TABLE OF CONTENTS
\* -------------------------------------------------------------------------- */

/**
 * COLOURS
 * .....BACKGROUND
 * .....FOREGROUND
 */





/* -------------------------------------------------------------------------- *\
   $COLOURS
\* -------------------------------------------------------------------------- */

/* ==========================================================================
   $BACKGROUND COLOURS
   ========================================================================== */

.sg-bg-colour-black {
    background-color: @colour-sg-black;
}

.sg-bg-colour-grey-dark {
    background-color: @colour-sg-grey-dark;
}

.sg-bg-colour-grey {
    background-color: @colour-sg-grey;
}

.sg-bg-colour-silver {
    background-color: @colour-sg-silver;
}

.sg-bg-colour-white-dark {
    background-color: @colour-sg-white-dark;
}

.sg-bg-colour-white {
    background-color: @colour-sg-white;
}

.sg-bg-colour-maroon {
    background-color: @colour-sg-maroon;
}

.sg-bg-colour-purple {
    background-color: @colour-sg-purple;
}

.sg-bg-colour-fuchsia {
    background-color: @colour-sg-fuchsia;
}

.sg-bg-colour-red {
    background-color: @colour-sg-red;
}

.sg-bg-colour-orange {
    background-color: @colour-sg-orange;
}

.sg-bg-colour-yellow {
    background-color: @colour-sg-yellow;
}

.sg-bg-colour-olive {
    background-color: @colour-sg-olive;
}

.sg-bg-colour-green {
    background-color: @colour-sg-green;
}

.sg-bg-colour-lime {
    background-color: @colour-sg-lime;
}

.sg-bg-colour-aqua {
    background-color: @colour-sg-aqua;
}

.sg-bg-colour-teal {
    background-color: @colour-sg-teal;
}

.sg-bg-colour-blue {
    background-color: @colour-sg-blue;
}

.sg-bg-colour-navy {
    background-color: @colour-sg-navy;
}





/* ==========================================================================
   $FOREGROUND COLOURS
   ========================================================================== */

.sg-black {
    color: @colour-sg-black;
}

.sg-grey-dark {
    color: @colour-sg-grey-dark;
}

.sg-grey {
    color: @colour-sg-grey;
}

.sg-silver {
    color: @colour-sg-silver;
}

.sg-white-dark {
    color: @colour-sg-white-dark;
}

.sg-white {
    color: @colour-sg-white;
}

.sg-maroon {
    color: @colour-sg-maroon;
}

.sg-purple {
    color: @colour-sg-purple;
}

.sg-fuchsia {
    color: @colour-sg-fuchsia;
}

.sg-red {
    color: @colour-sg-red;
}

.sg-orange {
    color: @colour-sg-orange;
}

.sg-yellow {
    color: @colour-sg-yellow;
}

.sg-olive {
    color: @colour-sg-olive;
}

.sg-green {
    color: @colour-sg-green;
}

.sg-lime {
    color: @colour-sg-lime;
}

.sg-aqua {
    color: @colour-sg-aqua;
}

.sg-teal {
    color: @colour-sg-teal;
}

.sg-blue {
    color: @colour-sg-blue;
}

.sg-navy {
    color: @colour-sg-navy;
}