/* ==========================================================================
   $TABLE OF CONTENTS
   ========================================================================== */

/**
 * CONTAINERS
 * SECTIONS
 * BUTTONS
 * LISTS
 * SOURCE CODE
 * GRID
 */





/* ==========================================================================
   $CONTAINERS
   ========================================================================== */

/**
 * Body
 */

.sg-body {
    background-color: @colour-sg-white;
}

/**
 * Header
 */

.sg-header {
    background-color: @colour-sg-grey-dark;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    width: 100%;

    @media all and (min-width: @bp-largest) {
        left: 0;
        margin-bottom: 2em;
        padding-top: 1em;
        position: fixed;
        top: 0;
        z-index: 100;
    }

    /* Home Icon */
    .sg-home {
        float: left;
        margin-right: 0.5em;

        &:active {
            position: relative;
            top: 1px;
        }
    }

    /* Navigation Toggle */
    .sg-nav-toggle {
        float: right;

        /* Icon */
        .icon {
            .transition(all 0.25s);
        }

        /* Active */
        &.is-active {

            .icon {
                .transform-rotate(90deg);
            }
        }
    }

    /* Heading */
    h1, .delta {
        float: left;
        margin-bottom: 0;
    }
}

/**
 * Navigation
 */

.sg-nav {
    background-color: @colour-sg-silver;
    left: 0;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 2.9em;
    width: 100%;
    .transition(max-height 0.25s);
    z-index: 50;

    @media all and (min-width: @bp-largest) {
        position: fixed;
        top: 3.7em;
    }

    /* Visible */
    &.is-visible {
        max-height: 47.5em;
    }

    /* List */
    .sg-list {
        padding: 1em 0;
    }
}

/**
 * Main
 */

.sg-main {
    margin-bottom: 6em;
}

/**
 * Wrapper
 */

.sg-wrapper {
    margin: 0 auto;
    width: 90%;

    @media all and (min-width: @bp-largest) {
        width: 85%;
    }

    @media all and (min-width: @bp-xxl) {
        width: 75%;
    }
}





/* ==========================================================================
   $SECTIONS
   ========================================================================== */

/**
 * Section Anchor
 */

.sg-section-link {
    display: block;

    @media all and (min-width: @bp-largest) {
        padding-top: 5em;
    }
}

/**
 * Section Container
 */

.sg-section {
    padding-bottom: 2em;
}

/**
 * Section Primary Heading
 */

.sg-section-heading-primary {
    border-bottom: 1px @colour-sg-silver solid;
    margin-bottom: 1em;
    overflow: hidden;
    padding-top: 2em;
    padding-bottom: 0.25em;

    /* Anchor */
    a {
        display: block;
        float: right;
        margin-top: 0.8em;
        margin-right: 0.25em;

        /* Icon */
        .icon {
            margin-left: 0.25em;
        }
    }
}

/**
 * Section Secondary Heading
 */

.sg-section-heading-secondary {
    border-bottom: 1px @colour-sg-silver solid;
    margin-top: 4em;
    margin-bottom: 2em;
    overflow: hidden;
    padding-top: 2em;
    padding-bottom: 0.25em;

    /* Anchor */
    a {
        display: block;
        float: right;
        margin-top: 0.8em;
        margin-right: 0.25em;

        /* Icon */
        .icon {
            margin-left: 0.25em;
        }
    }
}

/**
 * Section Footer
 */

.sg-footer {
    padding-top: 0;
    padding-bottom: 1em;

    /* Text */
    p {
        margin-top: 0;
        margin-bottom: 0.25em;

        &:first-of-type {
            border-top: 1px @colour-sg-silver dotted;
            padding-top: 1em;
        }
    }
}





/* ==========================================================================
   $BUTTONS
   ========================================================================== */

/**
 * Default Button
 */

.sg-btn {
    background-color: @colour-sg-blue;
    .border-radius(3px);
    border-bottom: 3px @colour-sg-navy solid;
    display: inline-block;
    .opacity(0.85);
    padding: 0.4em 0.8em;
    .transition(~"color 0.25s, opacity 0.25s");

    &:active {
        border-top: 3px transparent solid;
        border-bottom: 3px transparent solid;
        margin-top: 3px;
        padding: 0.2em 0.8em;
    }

    &:focus,
    &:hover {
        .opacity(1);
    }
}





/* ==========================================================================
   $LISTS
   ========================================================================== */

.sg-list {
    margin: 0 0 0 2em;
    padding: 0;

    /**
     * Colours List
     */

    &.sg-list-colours {
        list-style: none;
        margin-left: 0;
        overflow: hidden;

        li {
            float: left;
            height: 6em;
            overflow: hidden;
            position: relative;
            width: 6em;

            &:focus,
            &:hover {

                .hex {

                    @media all and (min-width: @bp-largest) {
                        top: 0;
                    }
                }
            }

            /* Hexadecimal colour value */
            .hex {
                background-color: @colour-sg-white;
                margin: 0.5em;
                padding-top: 0.5em;
                padding-bottom: 0.5em;

                @media all and (min-width: @bp-largest) {
                    left: 0;
                    margin: 0;
                    position: absolute;
                    top: -2em;
                    .transition(top 0.15s);
                    width: 100%;
                }
            }
        }
    }

    /**
     * Icons List
     */

    &.sg-list-icons {
        list-style: none;
        margin-left: 0;
        overflow: hidden;

        li {
            float: left;
            margin-right: 1em;
            margin-bottom: 1em;
        }
    }

    /**
     * Navigation List
     */

    &.sg-list-nav {
        list-style: none;
        margin-left: 0;
        padding-bottom: 0;

        li {
            border-bottom: 1px @colour-sg-grey dotted;
            margin-bottom: 0.25em;
            padding-bottom: 0.25em;

            &:last-child {
                border-bottom: 0;
                padding-bottom: 0.5em;
            }

            /* Anchor */
            a {
                display: block;
                margin-left: 0.5em;

                &:focus,
                &:hover {

                    /* Icon */
                    .icon {
                        .transform-rotate(90deg);
                    }
                }

                /* Icon */
                .icon {
                    margin-right: 0.5em;
                }
            }
        }
    }

    /**
     * Table of Contents List
     */

    &.sg-list-table-of-contents {

        /* Nested */
        ol, ul {
            margin: 0.25em 0 0 2em;
            padding: 0;
        }

        /* Unordered */
        ul {

            /* Items */
            li {
                list-style-type: circle;
            }
        }

        /* Child items */
        & > li {
            list-style-type: square;
        }

        /* All items */
        li {
            margin-bottom: 0.5em;

            &:last-of-type {
                margin-bottom: 0;
            }

            /* Text */
            p {
                display: block;
                padding-top: 0.5em;
                padding-bottom: 0.5em;

                @media all and (min-width: @bp-large) {
                    display: inline;
                    padding-top: 0;
                    padding-bottom: 0;
                    padding-left: 0.25em;
                }
            }
        }
    }
}





/* ==========================================================================
   $SOURCE CODE
   ========================================================================== */

.sg-source-code {
    clear: both;
    margin-top: 2em;
    overflow: hidden;
    padding-top: 1em;

    /* Button */
    .sg-btn {
        display: none;

        @media all and (min-width: @bp-large) {
            display: inline-block;
            float: right;
        }
    }

    /* Code */
    .sg-source-code-wrapper {
        clear: both;
        max-height: 0;
        margin-top: 3.3em;
        margin-bottom: 2em;
        overflow: hidden;
        .transition(max-height 0.25s);
        width: 100%;

        /* Visible */
        &.is-visible {
            max-height: @bp-xxl;
        }
    }
}





/* ==========================================================================
   $GRID
   ========================================================================== */

.sg-body {

    /**
     * Column
     */

    .sg-col {
        background-color: @colour-sg-grey;

        &:nth-child(even) {
            background-color: @colour-sg-silver;
        }

        /* Label */
        p {
            display: block;
            margin: 0;
            padding: 1em;
            text-align: center;
        }
    }
}