/* ==========================================================================
   $TABLE OF CONTENTS
   ========================================================================== */

/**
 * CONTAINERS
 * SECTIONS
 * TEXT
 * LISTS
 * SOURCE CODE
 * GRID
 * COLOURS
 */





/* ==========================================================================
   $CONTAINERS
   ========================================================================== */

/**
 * Header
 */

.sg-header {
    overflow: hidden;

    /* Home Icon */
    .sg-home {
        color: @colour-sg-white;
        font-size: 1.375em; /* 22 / 16 */
        line-height: 1;
        text-decoration: none;
        .transition(color 0.25s);

        @media all and (min-width: @bp-largest) {
            font-size: 1.563em; /* 25 / 16 */
        }

        &:focus,
        &:hover {
            color: @colour-sg-blue;
        }
    }

    /* Navigation Toggle */
    .sg-nav-toggle {
        color: @colour-sg-silver;
        font-size: 1.375em; /* 22 / 16 */
        line-height: 1;
        text-decoration: none;
        .transition(color 0.25s);

        @media all and (min-width: @bp-largest) {
            font-size: 1.9375em; /* 31 / 16 */
        }

        /* Active */
        &.is-active {
            color: @colour-sg-white;
        }

        &:focus,
        &:hover {
            color: @colour-sg-white;
        }
    }

    /* Heading */
    h1, .delta {
        line-height: 1;
    }
}





/* ==========================================================================
   $SECTIONS
   ========================================================================== */

/**
 * Section Primary Heading
 */

.sg-section-heading-primary {

    /* Anchor */
    a {
        color: @colour-sg-grey;
        font-size: 0.571em; /* 12 / 21 */
        text-decoration: none;
        vertical-align: middle;
        .transition(color 0.25s);

        &:focus,
        &:hover {
            color: @colour-sg-blue;
        }
    }
}

/**
 * Section Secondary Heading
 */

.sg-section-heading-secondary {

    /* Anchor */
    a {
        color: @colour-sg-grey-dark;
        font-size: 0.67em; /* 12 / 18 */
        text-decoration: none;
        vertical-align: middle;
        .transition(color 0.25s);

        &:focus,
        &:hover {
            color: @colour-sg-blue;
        }
    }
}





/* ==========================================================================
   $TEXT
   ========================================================================== */

.sg-text {

    /* Anchor */
    a {
        color: @colour-sg-blue-dark;
        .transition(color 0.25s);

        &:focus,
        &:hover {
            color: @colour-sg-blue;
        }
    }
}





/* ==========================================================================
   $BUTTONS
   ========================================================================== */

/**
 * Default Button
 */

.sg-btn {
    color: @colour-sg-white-dark;
    font-size: 0.85em; /* 16 / 14 */
    text-align: center;
    text-decoration: none;

    &:focus,
    &:hover {
        color: @colour-sg-white;
    }
}





/* ==========================================================================
   $LISTS
   ========================================================================== */

.sg-list {

    /* Anchor */
    a {
        color: @colour-sg-black;
        text-decoration: none;
        .transition(color 0.25s);

        &:focus,
        &:hover {
            color: @colour-sg-blue;
            text-decoration: underline;
        }
    }

    /**
     * Colours List
     */

    &.sg-list-colours {

        li {

            /* Hexadecimal colour value */
            .hex {
                color: @colour-sg-black;
                font-family: monospace, serif;
                font-size: 0.75em; /* 16 / 12 */
                line-height: 1;
                text-align: center;
            }
        }
    }

    /**
     * Icons List
     */

    &.sg-list-icons {

        li {

            /* Icon */
            i {
                font-size: 1.5em;
            }
        }
    }

    /**
     * Navigation List
     */

    &.sg-list-nav {

        li {

            /* Anchor */
            a {
                color: @colour-sg-silver;
                .transition(color 0.25s);

                &:focus,
                &:hover {
                    color: @colour-sg-white;
                    text-decoration: none;
                }

                /* Icon */
                i {
                    font-size: 1em;
                }
            }
        }
    }

    /**
     * Table of Contents List
     */

    &.sg-list-table-of-contents {

        li {

            /* Anchor */
            a {
                font-weight: @fw-bold;
                text-decoration: underline;
            }
        }
    }
}





/* ==========================================================================
   $COLOURS
   ========================================================================== */

/**
 * Foreground Colours
 */

.sg-black {
    color: @colour-sg-black;
}

.sg-grey-dark {
    color: @colour-sg-grey-dark;
}

.sg-grey {
    color: @colour-sg-grey;
}

.sg-grey-light {
    color: @colour-sg-grey-light;
}

.sg-silver {
    color: @colour-sg-silver;
}

.sg-white-dark {
    color: @colour-sg-white-dark;
}

.sg-white {
    color: @colour-sg-white;
}

.sg-blue-dark {
    color: @colour-sg-blue-dark;
}

.sg-blue {
    color: @colour-sg-blue;
}