/* -------------------------------------------------------------------------- *\
   $FORMS
\* -------------------------------------------------------------------------- */

.form {

    /**
     * Search
     */

    &.form--search {
        position: relative;

        .input {
            padding-right: 2.75em;
        }

        .btn {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}

@media all and (min-width: @bp-medium) {

    .form {

        &.form--search {

            .input {
                min-width: 20em; /* 320 / 16 */
            }
        }
    }
}





/* ==========================================================================
   $Label
   ========================================================================== */

.label {
    color: @color-gray-dark;
    display: block;
    margin-bottom: 0.375em;
}





/* ==========================================================================
   $Input
   ========================================================================== */

input[type="color"],
input[type="date"],
input[type="email"],
input[type="file"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
select,
textarea {

    &.input {
        border: 1px solid @color-silver;
        border-radius: 0;
        color: @color-gray-dark;
        font-family: @font;
        height: 2.5em; /* 40 / 16 */
        padding: 0.5em 0.75em;
        .transition(border-color 0.25s);
        width: 100%;

        &[disabled="disabled"] {
            background-color: @color-white-dark;
            border-color: @color-white-dark;
            color: @color-white-dark;
        }

        &:focus,
        &:hover {
            border-color: @color-gray-dark;
        }
    }

    &.input--select {
        padding-top: 0.375em;
    }

    &.input--textarea {
        height: inherit;
    }
}