/* -------------------------------------------------------------------------- *\
   $LINKS
\* -------------------------------------------------------------------------- */

a {
    text-decoration: underline;
    .transition(color 0.25s);
}

p {

    a {
        color: @color-gray-dark;

        &:focus,
        &:hover {
            color: @color-black;
        }
    }
}