/* -------------------------------------------------------------------------- *\
   $PARAGRAPHS
\* -------------------------------------------------------------------------- */

p {
    color: @color-gray-dark;
    font-size: 1.125em; /* 18 / 16 */
    margin-top: 0;

    b {
        color: @color-gray-dark;
    }

    &.small {
        font-size: 1em;
    }

    &.large {
        font-size: 1.25em; /* 20 / 16 */
    }
}