/* ==========================================================================
   Colours
   ========================================================================== */

@colour-black: #000;
@colour-grey-dark: #111;
@colour-grey: #333;
@colour-grey-light: #717274;
@colour-silver-dark: #aaa;
@colour-silver: #ccc;
@colour-white-dark: #f0f0f0;
@colour-white: #fff;
@colour-red-dark: #8c2318;
@colour-red: #c11515;
@colour-red-light: #ff3333;
@colour-green-dark: #519548;
@colour-green: #88c425;
@colour-green-light: #bef202;
@colour-blue-dark: #0b486b;
@colour-blue: #196dff;
@colour-blue-light: #69d2e7;
@colour-yellow-dark: #f7cf0a;
@colour-yellow: #fff400;
@colour-yellow-light: #f7f972;