/* ==========================================================================
   Fonts
   ========================================================================== */

/* Families */

@font-family-arial: Arial, sans-serif;
@font-family-droid-sans: "Droid Sans", Arial, sans-serif;
@font-family-droid-serif: "Droid Serif", Georgia, serif;

/* Weight */

@fw-light: 200;
@fw-normal: 400;
@fw-semi-bold: 600;
@fw-bold: 700;