/* ==========================================================================
   Fonts
   ========================================================================== */

/* Families */

@ff-droid-sans: "Droid Sans", Arial, sans-serif;
@ff-droid-serif: "Droid Serif", Georgia, serif;

/* Weight */

@fw-light: 200;
@fw-normal: 400;
@fw-semi-bold: 600;
@fw-bold: 700;